<div class="template_creation_header">
<h1>Editing Template Section: Adverse Events</h1>
</div>
<%= render "map" %>

<h2>Add Columns to Adverse Event Data Table</h2>
<br/>
<div id="adverse_event_fields_table"><%= render 'adverse_event_columns/table' %></div>
<div id="adverse_event_fields_entry">
<%= render 'adverse_event_columns/template_form' %>
</div>
<br/><br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "outcome_comparisons" %></td><td align="right">
<%= link_to "Continue", "quality_dimensions" %>
</td></tr></table>