<div class="template_creation_header">
<h1>Editing Template Section: Outcome Raw Data</h1>
</div>
<%= render "map" %>

<h2>Add Columns to Outcome Raw Data Table</h2>
<br/>
<div id="outcome_data_fields_table"><%= render 'outcome_columns/table' %></div>
<div id="outcome_data_fields_entry">
<%= render 'outcome_columns/template_form' %>
</div>
<br/><br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "quality_dimensions" %></td><td align="right">
<%= link_to "Continue", "outcome_comparisons" %>
</td></tr></table>