
<div class="template_creation_header">
<h1>Viewing Template Data</h1>
  </div>
  
  <p id="notice"><%= notice %></p>
  <!-- SUMMARY HEADING DIV SECTION -->
	<div class="summary_heading">
  	&nbsp;Title
  </div>
  <div id="summary_text" style="display:inline;">
	  <h2><%= @template.title %></h2>
	</div><br/>

	<!-- BASELINE CHARACTERISTICS DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('pop_char_text','pop_char_link');">
		<span id='pop_char_link' class='toggle_display_link'>+</span>
	  &nbsp;Baseline Characteristics Fields
	</div>
	<div id="pop_char_text" style="display:none;"><br/>
	<%= render 'baseline_characteristic_fields/completed_table' %>
	<br/>
	</div>
	<br/>

	<!-- QUALITY ASSESSMENT SECTION -->
	<div class="summary_heading" onclick="toggle_display('qa_text','qa_link');">
		<span id="qa_link" class='toggle_display_link'>+</span>
		&nbsp;Quality Dimension Fields
	</div>
	<div id="qa_text" style="display:none;">
	<br/>
		<%= render 'quality_dimension_fields/completed_table' %>	

	</div>
<br/>

	<!-- OUTCOME DATA SECTION -->
	<div class="summary_heading" onclick="toggle_display('datafields_text','datafields_link');">
		<span id="datafields_link" class='toggle_display_link'>+</span>
		&nbsp;Outcome Data Fields
	</div>
	<div id="datafields_text" style="display:none;">
	<br/>
		<%= render 'outcome_columns/completed_table' %>	

	</div>
<br/>

<table id="bottom_nav"><tr><td align="left"></td><td align="right">
<% has_privilege = User.current_user_has_template_edit_privilege(@template, current_user) %>

	<% if has_privilege %>
<%= link_to "Edit This Template",  edit_custom_template_path(@template) %>
<br/>
<% end %>
<%= link_to "Back to User Home", root_path %>
</td></tr></table>
