<h1>Listing adverse_event_arms</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Adverse event</th>
    <th>Arm</th>
    <th>Num affected</th>
    <th>Num at risk</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adverse_event_arms.each do |adverse_event_arm| %>
  <tr>
    <td><%= adverse_event_arm.study_id %></td>
    <td><%= adverse_event_arm.adverse_event_id %></td>
    <td><%= adverse_event_arm.arm_id %></td>
    <td><%= adverse_event_arm.num_affected %></td>
    <td><%= adverse_event_arm.num_at_risk %></td>
    <td><%= link_to 'Show', adverse_event_arm %></td>
    <td><%= link_to 'Edit', edit_adverse_event_arm_path(adverse_event_arm) %></td>
    <td><%= link_to 'Destroy', adverse_event_arm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adverse event arm', new_adverse_event_arm_path %>
