<%= form_for(@adverse_event, :remote => true, :html=>{:id=>"edit_adverse_event_form"}) do |f| %>
  <% if @adverse_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adverse_event.errors.count, "error") %> prohibited this adverse_event from being saved:</h2>

      <ul>
      <% @adverse_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :study_id, :value => session[:study_id] %>
  </div>
  <div class="field">
    <%= f.label :adverse_event_title %>:
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :timeframe_for_adverse_event_reporting %>:
    <%= f.text_field :timeframe %>
  </div>
  <div class="field">
    <%= f.label :adverse_event_description %>:<br />
    <%= f.text_area :description, :rows => 4, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :is_this_event_classified_as_serious %>?
    <% checked = "" %>
    <% if @adverse_event.is_serious == true %>
      <% checked = "checked" %>
    <% end %>
    
     <%= f.check_box :is_serious, :html=>{:checked => checked}  %>
  </div>
  <div class="field">
    <%= f.label :definition_of_adverse_event_used %>:
    <%= f.text_field :definition_used %>
  </div>
  <div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Update Adverse Event
		</button> <%= link_to 'Done Editing', new_adverse_event_path, :remote=>true %>
  </div>
<% end %>
