<%= form_for(@adverse_event, :remote => true, :html=>{:id=>"new_adverse_event_form"}) do |f| %>
  <% if @adverse_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adverse_event.errors.count, "error") %> prohibited this adverse_event from being saved:</h2>

      <ul>
      <% @adverse_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form_content">
    <%= f.hidden_field :study_id, :value => session[:study_id] %>
	<% @arms = AdverseEvent.get_related_study_arms(session[:study_id]) %>

	<div class="field">
    <label>Choose arms to add this adverse event to:</label>
	<% if !@arms.nil? %>
	<% for arm in @arms %>
<%= check_box_tag  "arm_num[]",  arm.id.to_s, false, :class => "inline-field" %>
Arm <%= arm.display_number.to_s %>:
<%= arm.title %><br/>
<% end %>	
<% end %>
	</div>
	
  <div class="field">
    <label>Adverse Event Title:</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>Timeframe for Adverse Event Reporting:</label>
    <%= f.text_field :timeframe %>
  </div>
  <div class="field">
    <label>Adverse Event Description:</label>
    <%= f.text_area :description, :rows => 4, :cols => 40 %>
  </div>
  <div class="field">
    <label class="inline-label">Is this event classified as <strong>serious</strong>?</label>
    <%= f.select :is_serious, options_for_select([["Yes", true], ["No", false]]), :class => "inline_field" %>
  </div>
  <div class="field">
    <label>Definition of "Serious" Used:</label>
    <%= f.text_field :definition_used %>
  </div>
    <div class="field">
    <label>Other Notes:</label>
    <%= f.text_area :notes, :rows => 4, :cols => 40 %>
  </div>
  <div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Save
		</button>
  </div>
  </div>
<% end %>
