<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="5">
<th>Event Title</th>
<th>Timeframe</th>
<th>Description</th>
<th>Serious?</th>
<th>Definition Used</th>
<th>Edit</th>
<th>Delete</th>
<% if @adverse_events.length > 0 %>
<% for ae in @adverse_events %>
<tr id=<%= 'adverse_event_' + ae.id.to_s %>>
<td><%= ae.title %></td>
<td><%= ae.timeframe %></td>
<td><%= ae.description %></td>
<td><%= ae.is_serious %></td>
<td><%= ae.definition_used %></td>
<td><%= link_to "Edit", edit_adverse_event_path(ae), :remote=>true %></td>
<td><%= link_to "Delete", adverse_event_path(ae), :remote=>true, :confirm => 'Are you sure?', :method=>:delete %> </td>
</tr>
<% end %>
<% end %>
</table>
<br/><br/>
<div id="adverse_event_validation_message"></div>