<%= form_tag @adverse_event_result, :remote => true do %>

<%= hidden_field_tag "study_id", params[:study_id] %>

<%# --------------- Header ----------------%>

<table class="list_table">
<tr>
<% if !@template_adverse_event_columns.nil? && @template_adverse_event_columns.length > 0 %>
	<% @template_adverse_event_columns.group_by(&:header).each do |header, cols| %>
		<% if !cols[0].header.nil? && cols[0].header != "" %>
			<th colspan="<%= cols.length %>"><%=cols[0].header %></th>
		<% else %>
			<% for col in cols %>
			<th rowspan="2">
				<%= col.name %> 
			</th>
			<% end %>
			<% end%>
		<% end %>
	<% end %>
</tr><tr>
	<% @template_adverse_event_columns.group_by(&:header).each do |header, cols| %>
		<% if !cols[0].header.nil? && cols[0].header != "" %>
			<% for col in cols %>
			<th>
				<%= col.name %>
			</th>
			<% end %>
		<% end %>
	<% end %>
</tr>

<%# --------------- Table Meat ----------------%>

<% for ae in @adverse_events %>
	<tr id="ae_<%= ae.id.to_s %>">
		<% if !@adverse_events.nil? && @adverse_events.length > 0 %>
		<% @template_adverse_event_columns.group_by(&:header).each do |header, cols| %>
			<% for col in cols %>
					<%# get adverse event result val %>
					<% val = AdverseEventResult.get_data_point(ae.id, col.id) %>
					<td>
						<%= text_field "ae" + ae.id.to_s, col.id, :size => 5, :value=>val %>
					</td>
				<% end %>
				<% end %>
		<% end %> <%# END Adv Events.LENGTH %>
	</tr>
<% end %>

</table>
	<br/>
			
<div id="adverse_event_validation_message"></div>
				<div class="actions">
					<button type="submit" class="positive"><%= image_tag "Accept.png" %>Save Table Data</button>
				</div>
<% end %>
	<% @adverse_event_new = AdverseEvent.new %>
	<%= form_tag @adverse_event_new, :remote => true do %>
	<%= hidden_field_tag "study_id", params[:study_id] %>
				<div class="actions">
					<button type="submit" class="regular"><%= image_tag "Add-blue.png" %>Add New Row</button>
				</div>
		<% end %>

				<br/>