<table class="list_table">
<col>
<col id="contrast_col">
<col>
<col id="contrast_col2">
<col>
<col id="contrast_col3">
<col>
<th>Display</th>
<th>Event Title</th>
<th>Timeframe</th>
<th>Description</th>
<th>Number</th>
<th>Serious?</th>
<th>Definition Used</th>
<th>Notes</th>
<th>Actions</th>
<% if @adverse_events.length > 0 %>
<% for ae in @adverse_events %>
<tr class="<%= cycle("even", "odd") %>" id=<%= 'adverse_event_' + ae.id.to_s %>>
<td><%= ae.display_number %></td>
<td><%= ae.title %></td>
<td><%= ae.timeframe %></td>
<td><%= ae.description %></td>
<td><%= ae.number %></td>
<td><% if ae.is_serious %>Yes
		<% else %>
		No
		<% end %></td>
<td><%= ae.definition_used %></td>
<td><%= ae.notes %></td>
<td><%= link_to "Edit", edit_adverse_event_path(ae), :remote=>true, :class => "edit_link" %>
<%= link_to "Delete", adverse_event_path(ae), :remote=>true, :confirm => 'Are you sure?', :method=>:delete, :class => "delete_link" %> </td>
</tr>
<% end %>
<% end %>
</table>
<br/><br/>
<div id="adverse_event_validation_message"></div>