<%= form_tag 'adverse_events/savedata', :remote => true do -%>
<% if !@arms.nil? %>
<% for arm in @arms %>
		<% @adverse_events = AdverseEvent.get_adverse_events_by_arm(arm.id) %>
		<h3>Arm <%= arm.display_number %>: <%= arm.title %></h3>

				<% hidden_field_tag "study_id", session[:study_id] %>
				<table class="list_table">
				<th>Event Title</th>
				<th>Timeframe</th>
				<th>Description</th>
				<th>Number Affected</th>
				<th>Number at Risk</th>
				<th>Serious?</th>
				<th>Definition Used</th>
				<th>Notes</th>
				<th>Actions</th>
				<% if @adverse_events.length > 0 %>
				<% for ae in @adverse_events %>

				<tr class="<%= cycle("even", "odd") %>" id=<%= 'adverse_event_' + ae.id.to_s %>>
				<td><%= ae.title %></td>
				<td><%= ae.timeframe %></td>
				<td><%= ae.description %></td>
				<td><%= text_field_tag "num_affected_" + ae.id.to_s, ae.num_affected, :size => 5 %></td>
				<td><%= text_field_tag "num_at_risk_" + ae.id.to_s, ae.num_at_risk, :size => 5 %></td>
				<td><% if ae.is_serious %>Yes
						<% else %>
						No
						<% end %></td>
				<td><%= ae.definition_used %></td>
				<td><%= ae.notes %></td>
				<td>
						<%# if ae.display_number > 1 %>
						<%# link_to "Move Up", {:controller => :adverse_events, :action => :moveup, :adverse_event_id => ae.id}, :remote=>true, :class => "edit_link" %>
						<%# end %>
				<%= link_to "Edit", edit_adverse_event_path(ae), :remote=>true, :class => "edit_link" %>
				<%= link_to "Delete", adverse_event_path(ae), :remote=>true, :confirm => 'This will delete this adverse event from this arm only. Are you sure?', :method=>:delete, :class => "delete_link" %> </td>
				</tr>
				<% end %>
				<% end %>

				</table>
				<br/><br/>

<% end %>
<% end %>

				<div class="actions">
					<button type="submit" class="positive"><%= image_tag "Accept.png" %>Save Table Data</button>
				</div>
<% end -%>
<div id="adverse_event_validation_message"></div>
				<br/><br/>	