<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @adverse_event.study_id %>
</p>

<p>
  <b>Title:</b>
  <%= @adverse_event.title %>
</p>

<p>
  <b>Timeframe:</b>
  <%= @adverse_event.timeframe %>
</p>

<p>
  <b>Description:</b>
  <%= @adverse_event.description %>
</p>

<p>
  <b>Is serious:</b>
  <%= @adverse_event.is_serious %>
</p>

<p>
  <b>Definition used:</b>
  <%= @adverse_event.definition_used %>
</p>


<%= link_to 'Edit', edit_adverse_event_path(@adverse_event) %> |
<%= link_to 'Back', adverse_events_path %>
