<%= form_for(@studies_key_question) do |f| %>
  <% if @studies_key_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studies_key_question.errors.count, "error") %> prohibited this studies_key_question from being saved:</h2>

      <ul>
      <% @studies_key_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :study_id %><br />
    <%= f.text_field :study_id %>
  </div>
  <div class="field">
    <%= f.label :key_question_id %><br />
    <%= f.text_field :key_question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
