<h1>Listing studies_key_questions</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Key question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studies_key_questions.each do |studies_key_question| %>
  <tr>
    <td><%= studies_key_question.study_id %></td>
    <td><%= studies_key_question.key_question_id %></td>
    <td><%= link_to 'Show', studies_key_question %></td>
    <td><%= link_to 'Edit', edit_studies_key_question_path(studies_key_question) %></td>
    <td><%= link_to 'Destroy', studies_key_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Studies key question', new_studies_key_question_path %>
