<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @studies_key_question.study_id %>
</p>

<p>
  <b>Key question:</b>
  <%= @studies_key_question.key_question_id %>
</p>


<%= link_to 'Edit', edit_studies_key_question_path(@studies_key_question) %> |
<%= link_to 'Back', studies_key_questions_path %>
