<h1>Listing outcome_column_values</h1>

<table>
  <tr>
    <th>Outcome</th>
    <th>Timepoint</th>
    <th>Subgroup</th>
    <th>Value</th>
    <th>Is calculated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outcome_column_values.each do |outcome_column_value| %>
  <tr>
    <td><%= outcome_column_value.outcome_id %></td>
    <td><%= outcome_column_value.timepoint_id %></td>
    <td><%= outcome_column_value.subgroup_id %></td>
    <td><%= outcome_column_value.value %></td>
    <td><%= outcome_column_value.is_calculated %></td>
    <td><%= link_to 'Show', outcome_column_value %></td>
    <td><%= link_to 'Edit', edit_outcome_column_value_path(outcome_column_value) %></td>
    <td><%= link_to 'Destroy', outcome_column_value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outcome column value', new_outcome_column_value_path %>
