<p id="notice"><%= notice %></p>

<p>
  <b>Outcome:</b>
  <%= @outcome_column_value.outcome_id %>
</p>

<p>
  <b>Timepoint:</b>
  <%= @outcome_column_value.timepoint_id %>
</p>

<p>
  <b>Subgroup:</b>
  <%= @outcome_column_value.subgroup_id %>
</p>

<p>
  <b>Value:</b>
  <%= @outcome_column_value.value %>
</p>

<p>
  <b>Is calculated:</b>
  <%= @outcome_column_value.is_calculated %>
</p>


<%= link_to 'Edit', edit_outcome_column_value_path(@outcome_column_value) %> |
<%= link_to 'Back', outcome_column_values_path %>
