<%= nested_form_for(@population_characteristic, :remote => true, :update => "population_characteristics_table", :html=>{:id=>"population_characteristic_form"},) do |f| %>
  <% if @population_characteristic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@population_characteristic.errors.count, "error") %> prohibited this population_characteristic from being saved:</h2>

      <ul>
      <% @population_characteristic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br/>
<div class="form_content">
<div class="field">
    <%= f.hidden_field :study_id, :value => @study.id %>

    <label>Category Title:</label>
    <%= f.text_field :category_title %>
</div>

<%= f.fields_for :population_characteristic_subcategories do |t| %>
<div class="field">
  <label class="inline-label">Subcategory Title:</label> <%= t.text_field :subcategory, :class => "inline-field" %><br/><br/>
  <label class="inline-label">Units:</label>  <%= t.text_field :units, :class => "inline-field" %>
  <div class="admin_functions">
  <%= t.link_to_remove "Remove This Subcategory" %>
  </div>
  </div>
  <% end %><br/>
<%= f.link_to_add "Add a Subcategory", :population_characteristic_subcategories %>
<br/><br/>
<div class="field">
    <label>Notes on this Characteristic:</label>
    <%= f.text_area :notes, :rows => 4, :cols => 40 %>
	</div>
	<div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Add Baseline Study Characteristic
		</button>
	
</div>
</div>
<% end %>
