<%= form_for(@population_characteristic, :remote => true, :update => "population_characteristics_table", :html=>{:id=>"population_characteristic_form"},) do |f| %>
  <% if @population_characteristic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@population_characteristic.errors.count, "error") %> prohibited this population_characteristic from being saved:</h2>

      <ul>
      <% @population_characteristic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :study_id, :value => @study.id %>
<table class="form_table">
<tr><td>
    <%= f.label :category_title %>: </td><td>
    <%= f.text_field :category_title %>
  </td></tr><tr><td>
    <%= f.label :subcategory %>: </td><td>
    <%= f.text_field :subcategory %>
  </td></tr><tr><td>
    <%= f.label :units %>: </td><td>
    <%= f.text_field :units %>
  </td></tr><tr><td colspan="2">
  <div class="actions">
    <%= f.submit "Add Population Characteristic" %>
  </div>
  </td></tr></table>
<% end %>
