<%= nested_form_for(@population_characteristic, :remote => true, :update => "population_characteristics_table", :html=>{:id=>"population_characteristic_form"},) do |f| %>
  <% if @population_characteristic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@population_characteristic.errors.count, "error") %> prohibited this population_characteristic from being saved:</h2>

      <ul>
      <% @population_characteristic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br/>
    <%= f.hidden_field :study_id, :value => @study.id %>

    <%= f.label :category_title %>:
    <%= f.text_field :category_title %><br/>


<%= f.fields_for :population_characteristic_subcategories do |t| %>
  Subcategory: <%= t.text_field :subcategory %>
  Units: <%= t.text_field :units %>
  <%= t.link_to_remove "Remove" %><br/>
  <% end %><br/>
<%= f.link_to_add "Add a Subcategory", :population_characteristic_subcategories %>
<br/><br/>

    <%= f.submit "Add Baseline Study Characteristic" %>

<% end %>
