<%= form_for @population_characteristic_data_point, :remote => true, :html=>{:id=>"popchar_data_point_form"} do |f| %>

	<table class="list_table">
		
		<%# CREATE TABLE HEADERS %>
		<tr>
		<th>Display</th>
		<th colspan="2">Category</th>

		<%# CYCLE THROUGH ALL ARMS, CREATE TABLE HEADER FOR EACH ARM %>
		<% if @study_arms.length > 0 %>
			<% i = 1 %>
			<% for one_arm in @study_arms %>
				<th>Arm <%= i %>: <br/><%= one_arm.title %></th>
				<% i = i + 1 %>
			<% end %>
		<% end %>
		<th>Total</th>
		<th>Notes</th>
		<th>Actions</th>
		</tr>
		
		<%# GO THROUGH POPULATION CHARACTERISTICS %>

		<% if @population_characteristics.length > 0 %>

		<% for popchar in @population_characteristics %>

				<tr class="<%= cycle("even", "odd") %>" id="pop_char_row_<%=popchar.id.to_s %>">
				
				<% pop_subcategories = PopulationCharacteristicSubcategory.where(:population_characteristic_id => popchar.id).all %>
				
				<% if pop_subcategories.length > 0 %>
					<% first = true %>
					<td rowspan="<%=pop_subcategories.length%>"><%=popchar.display_number %></td>
					<td rowspan="<%=pop_subcategories.length%>"><%=popchar.category_title %></td>
					 <% for subcat in pop_subcategories %>
						<td><%=subcat.subcategory%> (<%= subcat.units %>)</td>	
						
						<% if @study_arms.length > 0 %>
							<% for one_arm in @study_arms %>
								<% val = PopulationCharacteristicDataPoint.get_data_point(one_arm.id, popchar, subcat, false) %>
								<td><%= text_field "arm" + one_arm.id.to_s + "attribute", popchar.id.to_s + "_" + subcat.id.to_s, :size => 5, :value => val %></td>
							<% end %>
						<% end %>
					
						<%# GET AND DISPLAY INPUT BOXES / DATA VALUES FOR EACH ATTRIBUTE TOTAL %>
						<% val = PopulationCharacteristicDataPoint.get_data_point(-1, popchar, subcat, true) %>
						<td><%= text_field "attribute_total", popchar.id.to_s + "_" + subcat.id.to_s, :size => 5, :value => val %></td>

						<% if first %>
						<td rowspan="<%=pop_subcategories.length%>"><%= popchar.notes %></td>
						<td rowspan="<%=pop_subcategories.length%>">
							<% if !popchar.display_number.nil? && popchar.display_number > 1 %>
								<%= link_to "Move Up", {:controller => :population_characteristics, :action => :moveup, :population_characteristic_id => popchar.id}, :remote=>true, :class => "edit_link" %>
							<% end %>
							<%= link_to "Edit", edit_study_population_characteristic_path(session[:study_id], popchar), :remote=>true, :class => "edit_link" %>
							<%= link_to "Delete", popchar, :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link" %>
							</td>
						<% first = false %>
						<% end %>
						</tr>
					<% end %>
				<% else %>
					<td><%=popchar.display_number %></td>
					<td colspan="2"><%=popchar.category_title %></td>
					 
						<% if @study_arms.length > 0 %>
							<% for one_arm in @study_arms %>
								<% val = PopulationCharacteristicDataPoint.get_data_point(one_arm.id, popchar, nil, false) %>
								<td><%= text_field "arm" + one_arm.id.to_s + "attribute", popchar.id.to_s + "_-1", :size => 5, :value => val %></td>
							<% end %>
						<% end %>
					
						<%# GET AND DISPLAY INPUT BOXES / DATA VALUES FOR EACH ATTRIBUTE TOTAL %>
						<% val = PopulationCharacteristicDataPoint.get_data_point(-1, popchar, nil, true) %>
						<td><%= text_field "attribute_total", popchar.id.to_s + "_-1", :size => 5, :value => val %></td>
						<td><%= popchar.notes %></td>
						<td>
							<% if !popchar.display_number.nil? && popchar.display_number > 1 %>
								<%= link_to "Move Up", {:controller => :population_characteristics, :action => :moveup, :population_characteristic_id => popchar.id}, :remote=>true, :class => "edit_link" %>
							<% end %>
						<%= link_to "Edit", edit_study_population_characteristic_path(session[:study_id], popchar), :remote=>true, :class => "edit_link" %>
						<%= link_to "Delete", popchar, :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link" %></td>
						</tr>
				
				<% end %>
				
			<%# END FOR %>
			<% end %>
		
		<%# END IF - population_characteristics.length %>
		<% end %>

	</table>
		<input type="hidden" id="category_ids" style="display:none" value="<%= PopulationCharacteristic.get_category_ids_string(session[:study_id]) %>">
	<input type="hidden" id="arm_ids" style="display:none" value="<%= PopulationCharacteristic.get_arm_ids_string(@study_arms) %>">
	<br/><div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Accept.png"%>Save Table Data
		</button>
		</div>
	
<%# END FORM %>
<% end %>

<br/>
<br/>