<div id="population_characteristics_table">
<%= form_for @population_characteristic_data_point, :remote => true do |f| %>
<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="5">
<tr><th colspan="2">Category</th>
<% if @study_arms.length > 0 %>
	<% i = 1 %>
	<% for one_arm in @study_arms %>
		<th>Arm <%= i %>: <br/><%= one_arm.title %></th>
		<% i = i + 1 %>
	<% end %>
<% end %>
<th>Total</th>
<th>Delete</th>
<% if @population_characteristics.length > 0 %>
<% list_of_lists = PopulationCharacteristic.create_list_of_lists(@population_characteristics) %>
</tr>
			<% print list_of_lists.to_s + "\n" %>
<% for attblock in list_of_lists %>
		<tr>
		<td rowspan="<%=attblock.length%>">
			<%=attblock[0].category_title %>
		</td>
<% for item in attblock %>
				<td>
					<%=item.subcategory%> (<%= attblock[0].units %>)
				</td>
				<% if @study_arms.length > 0 %>
					<% for one_arm in @study_arms %>
					<% val = PopulationCharacteristicDataPoint.get_data_point(one_arm.id, item.id, false) %>
					<% if val.nil? %>
					<% val = "" %>
					<% end %>
					<td><%= text_field "arm" + one_arm.id.to_s + "attribute", item.id, :size => 5, :value => val %></td>
					<% end %>
				<% end %>
				<% val = PopulationCharacteristicDataPoint.get_data_point(-1, item.id, true) %>
									<% if val.nil? %>
					<% val = "" %>
					<% end %>
				<td><%= text_field "attribute_total", item.id, :size => 5, :value => val %></td>
				<td><%= link_to "Delete", item, :remote => true, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
		<% end %>


		
<% end %>

<% end %>
</table>
<%= submit_tag "Save" %>
<% end %>
<br/><br/></div>