<h1>Listing population_characteristics</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Arm</th>
    <th>Category title</th>
    <th>Subcategory</th>
    <th>Units</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @population_characteristics.each do |population_characteristic| %>
  <tr>
    <td><%= population_characteristic.study_id %></td>
    <td><%= population_characteristic.arm_id %></td>
    <td><%= population_characteristic.category_title %></td>
    <td><%= population_characteristic.subcategory %></td>
    <td><%= population_characteristic.units %></td>
    <td><%= link_to 'Show', population_characteristic %></td>
    <td><%= link_to 'Edit', edit_population_characteristic_path(population_characteristic) %></td>
    <td><%= link_to 'Destroy', population_characteristic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Population characteristic', new_population_characteristic_path %>
