<h3>Categorical Outcomes</h3>
<%= form_for(@new_categorical_analysis, :remote => true, :html=>{:id=>"categorical_analysis_form"}) do |f| %>
<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="5" id="categorical_analysis_table">
<tr>
<td rowspan=2>Outcome Title</td>
<td rowspan=2>Arm A</td>
<td rowspan=2>Arm B</td>
<td rowspan=2>N<br/> Total</td>
<td rowspan=2>N<br/>Event</td>

<% ept_options = [['Select Estimation Parameter Type','Select Estimation Parameter Type'], \
											["Cox Proportional Hazard","Cox Proportional Hazard"], \
    									["Hazard Ratio (HR)","Hazard Ratio (HR)"], \
    									["Hazard Ratio, log","Hazard Ratio, log"], \
    									['Mean Difference (Final Values)','Mean Difference (Final Values)'], \
    									['Mean Difference (Net)','Mean Difference (Net)'], \
    									['Median Difference (Net)','Median Difference (Net)'], \
    									['Odds Ratio (OR)','Odds Ratio (OR)'], \
    									['Odds Ratio, log','Odds Ratio, log'], \
    									['Risk Difference (RD)','Risk Difference (RD)'], \
    									['Risk Ratio (RR)','Risk Ratio (RR)'], \
    									['Risk Ratio, log','Risk Ratio, log'], \
    									['Slope','Slope'], \
    									['Other','Other']]%>
    
<td colspan=3 align='center'>Non-Adjusted</td>
<td colspan=3 align='center'>Adjusted</td>
</tr>
<tr>
	<td><%= f.select :estimation_parameter_type, options_for_select(ept_options) %></td>
	<% pdt_options = [['Select Parameter Dispersion','Select Parameter Dispersion Type'], \
											["Standard Deviation","Standard Deviation"], \
    									["Standard Error of the Mean","Standard Error of the Mean"]]%>
	<td><%= f.select :parameter_dispersion_type, options_for_select(pdt_options) %></td>
	<td>P-Value</td>
	
	<td><%# f.select :adjusted_estimation_parameter_type, options_for_select(ept_options) %></td>
	<% pdt_options = [['Select Parameter Dispersion','Select Parameter Dispersion Type'], \
											["Standard Deviation","Standard Deviation"], \
    									["Standard Error of the Mean","Standard Error of the Mean"]]%>
	<td><%= f.select :adjusted_parameter_dispersion_type, options_for_select(pdt_options) %></td>
	<td>P-Value</td>

</tr>
<%= f.hidden_field :categorical_or_continuous, :value=>"Categorical" %>
<tr id="categorical_row_1">

<%# OUTCOME TITLE %>
<td>
	<select id="categorical_analysis_outcome_id" name="outcome_analysis[outcome_id]">
    <% @categorical_outcomes.each do |cat| %>
  	    <option value=<%= cat.id.to_s %>><%= cat.title.to_s %></option>
		<% end %>
  </select>	

<%# f.select :outcome_id, options_for_select(options),:html=>{:id=>"categorical_analysis_outcome_id"} %></td>

<% options = [] %>
<% @study_arms.each do |arm| %>
	<%# store the title and id to the options array %>
	<%# we will use these as option and value     %>
	<% options << [arm.title.to_s, arm.id.to_s] %>
<% end %>
    
<%# ARM A %>
<td><%= f.select :arm1_id, options_for_select(options) %></td>

<%# ARM B %>
<td><%= f.select :arm2_id, options_for_select(options, options[1][1].to_s ) %></td>

<%# N Total%>
<td><input type="text" name="outcome_analysis[n_total]" id="outcome_analysis_n_total" size="10" /></td>
	
<%# N Event%>
<td><input type="text" name="outcome_analysis[n_event]" id="outcome_analysis_n_event" size="10" /></td>
	
<%# ESTIMATION PARAMETER ENTRY %>
<td>
	<input type="text" name="outcome_analysis[estimation_parameter_value]" id="outcome_analysis_estimation_parameter_value" size="30" />
</td>

<%# PARAMETER DISPERSION ENTRY %>
<td>
	<input type="text" name="outcome_analysis[parameter_dispersion_value]" id="outcome_analysis_parameter_dispersion_value" size="30"/>
</td>
<%# P-Value %>
<td>
	<input type="text" name="outcome_analysis[p_value]" id="outcome_analysis_p_value" size="10" />
</td>

<%# ESTIMATION PARAMETER ENTRY %>
<td>
	<input type="text" name="outcome_analysis[adjusted_estimation_parameter_value]" id="outcome_analysis_adjusted_estimation_parameter_value" size="30" />
</td>

<%# ADJUSTED PARAMETER DISPERSION ENTRY %>
<td>
	<input type="text" name="outcome_analysis[adjusted_parameter_dispersion_value]" id="outcome_analysis_adjusted_parameter_dispersion_value" size="30"/>
</td>

<%# P-Value %>
<td>
	<input type="text" name="outcome_analysis[adjusted_p_value]" id="outcome_analysis_adjusted_p_value" size="10" />
</td>

<td></td>
</tr>
</table>
<%= f.submit "Save" %>
<% end %>
<br/>
<%= link_to "Add Analysis Row", "#",  :onclick=>"add_categorical_outcome_analysis_row();"%>
