<h3>Continuous Outcomes</h3>
<%= form_for(@new_continuous_analysis, :remote => true, :html=>{:id=>"continuous_analysis_form"}) do |f| %>
<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="5" id="outcome_analysis_table">
<tr>
<td>Outcome Title</td>
<td>Arm A</td>
<td>Arm B</td>
<td>N Analyzed</td>

<%# OPTIONS FOR ESTIMATION PARAMETER TYPE %>  
<% ept_options = [['Select Estimation Parameter Type','Select Estimation Parameter Type'], \
											["Cox Proportional Hazard","Cox Proportional Hazard"], \
    									["Hazard Ratio (HR)","Hazard Ratio (HR)"], \
    									["Hazard Ratio, log","Hazard Ratio, log"], \
    									['Mean Difference (Final Values)','Mean Difference (Final Values)'], \
    									['Mean Difference (Net)','Mean Difference (Net)'], \
    									['Median Difference (Net)','Median Difference (Net)'], \
    									['Odds Ratio (OR)','Odds Ratio (OR)'], \
    									['Odds Ratio, log','Odds Ratio, log'], \
    									['Risk Difference (RD)','Risk Difference (RD)'], \
    									['Risk Ratio (RR)','Risk Ratio (RR)'], \
    									['Risk Ratio, log','Risk Ratio, log'], \
    									['Slope','Slope'], \
    									['Other','Other']]%>
    									
<%# OPTIONS FOR PARAMETER DISPERSION TYPE%>
<% pdt_options = [['Select Parameter Dispersion','Select Parameter Dispersion Type'], \
								["Standard Deviation","Standard Deviation"], \
								["Standard Error of the Mean","Standard Error of the Mean"]]%>
    
<td><%= f.select :estimation_parameter_type, options_for_select(ept_options) %></td>

<td><%= f.select :parameter_dispersion_type, options_for_select(pdt_options) %></td>
<td>P-Value</td>
<td></td>
</tr>
<%= f.hidden_field :categorical_or_continuous, :value=>"Continuous" %>

</table>
<%= f.submit "Save" %>
<% end %>
<br/>
<%= link_to "Add Analysis Row", "#",  :onclick=>"add_continuous_outcome_analysis_row();"%>
