<%= form_for(@new_continuous_analysis, :remote => true) do |f| %>
  <% if @new_continuous_analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_continuous_analysis.errors.count, "error") %> prohibited this outcome_analysis from being saved:</h2>

      <ul>
      <% @new_continuous_analysis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%########################%>
  <%# STUDY ID HIDDEN FIELD %>
  <%########################%>
  <%= f.hidden_field :study_id, :value=>session[:study_id] %>
  
  <%########################%>
  <%# SELECTOR FOR OUTCOMES %>
  <%########################%>
  <div class="field">
    <%= f.label :outcome_name %><br />
    <% options = [] %>
    <% @continuous_outcomes.each do |cont| %>
    	<%# store the title and id to the options array %>
    	<%# we will use these as option and value     %>
    	<% options << [cont.title.to_s, cont.id.to_s] %>
    <% end %>
    <%= f.select :outcome_name, options_for_select(options) %>
  </div>
  
  <%########################%>
  <%# SELECTOR FOR ARMS     %>
  <%########################%>
  <div class="field">
    Arms to Compare:<br/>
    <% options = [] %>
    <% @study_arms.each do |arm| %>
    	<%# store the title and id to the options array %>
    	<%# we will use these as option and value     %>
    	<% options << [arm.title.to_s, arm.id.to_s] %>
    <% end %>
    <%= f.select :arm1_id, options_for_select(options) %>
    vs.
    <%= f.select :arm2_id, options_for_select(options, options[1][1].to_s ) %>
  </div>
  
  <%#############################%>
  <%# HIDDEN ANALYSIS TYPE FIELD %>
  <%#############################%>
  <%= f.hidden_field :categorical_or_continuous, :value=>"Continuous" %>
  
  <div class="field">
    <%= f.label :n_analyzed %><br />
    <%= f.text_field :n_analyzed %>
  </div>
  <div class="field">
    <%= f.label :estimation_parameter_type %><br />
    <% ept_options = [['Select Estimation Parameter Type','Select Estimation Parameter Type'], \
    									["Cox Proportional Hazard","Cox Proportional Hazard"], \
    									["Hazard Ratio (HR)","Hazard Ratio (HR)"], \
    									["Hazard Ratio, log","Hazard Ratio, log"], \
    									['Mean Difference (Final Values)','Mean Difference (Final Values)'], \
    									['Mean Difference (Net)','Mean Difference (Net)'], \
    									['Median Difference (Net)','Median Difference (Net)'], \
    									['Odds Ratio (OR)','Odds Ratio (OR)'], \
    									['Odds Ratio, log','Odds Ratio, log'], \
    									['Risk Difference (RD)','Risk Difference (RD)'], \
    									['Risk Ratio (RR)','Risk Ratio (RR)'], \
    									['Risk Ratio, log','Risk Ratio, log'], \
    									['Slope','Slope'], \
    									['Other','Other']]%>
    <%= f.select :estimation_parameter_type, options_for_select(ept_options) %>
  </div>
  <div class="field">
    <%= f.label :estimation_parameter_value %><br />
    <%= f.text_field :estimation_parameter_value %>
  </div>
  <div class="field">
    <%= f.label :parameter_dispersion_type %><br />
    <%= f.text_field :parameter_dispersion_type %>
  </div>
  <div class="field">
    <%= f.label :parameter_dispersion_value %><br />
    <%= f.text_field :parameter_dispersion_value %>
  </div>
  <div class="field">
    <%= f.label :p_value %><br />
    <%= f.text_field :p_value %>
  </div>
  <div class="field">
    <%= f.label :adjusted_parameter_dispersion_type %><br />
    <%= f.text_field :adjusted_parameter_dispersion_type %>
  </div>
  <div class="field">
    <%= f.label :adjusted_parameter_dispersion_value %><br />
    <%= f.text_field :adjusted_parameter_dispersion_value %>
  </div>
  <div class="field">
    <%= f.label :adjusted_p_value %><br />
    <%= f.text_field :adjusted_p_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
