<input type="hidden" id="model_name" value=<%= @model_name %> >
<input type="hidden" id="timepoint_field_id" value=<%= @model_name + "_timepoint_id" %> >
<input type="hidden" id="subgroup_field_id" value=<%= @model_name + "_subgroup_id" %> >
<table width='925px'>
	<tr>
		<td valign='top' align='left' width='32%'>
			<div class="form_content no_indent analysis_form">
			<div class="field">
			<label>Select the Outcome to Analyze: </label>
	
			<%= select "outcome", "outcome", Outcome.where(:study_id => session[:study_id]).all.collect {|o| [o.title,o.id]}, {},
					{:onchange =>remote_function(:url => {:action => "show_outcome_subgroups_and_timepoints"}, :with => "'selected_outcome_id=' + this.value + '&form_type=' + $('model_name').value")} %></b>
	  
			</div>
			</div>			
		</td>
		
	<td valign='top' align='left' width='32%'>
		<div id="subgroup_options">
		<div class="form_content no_indent analysis_form">
		<div class="field">
		<label>Sub-Group Analysis</label>
		<% unless @first_subgroups.empty? %>
		  
		  <%= select @model_name, "subgroup_id", @first_subgroup_comparisons,{:selected=>@selected_subgroup},
					{:onchange =>remote_function(:url => {:action => "update_partial",:controller=>"studies"}, 
					:with => "'selected_outcome_id='+$('outcome_outcome').value+
										'&selected_subgroup='+ this.value +
										'&selected_timepoint='+$($('timepoint_field_id').value).value +
										'&updating='+'subgroup' +
										'&form_type=' + $('model_name').value")} %>
		
		<% else %>
			<em>There are no subgroups defined for this outcome. If you require a subgroup, please edit the <%= link_to "Outcome Setup Page", "/projects/#{session[:project_id]}/studies/#{session[:study_id]}/outcomesetup" %></em>
		  <input type="hidden" id="outcome_analysis_subgroup_id" value="0"/>
		<% end %>
			</div></div></div>
		</td>
		
		<td valign='top' align='left' width='32%'>
		<div id="timepoint_options">
		<div class="form_content no_indent analysis_form">
		<div class="field">
		<label>Time Point Analysis</label>

		<% unless @first_timepoints.empty? %>
		  <%= select @model_name, "timepoint_id", @first_timepoint_comparisons,{:selected=>@selected_timepoint},
					{:onchange =>remote_function(:url => {:action => "update_partial",:controller=>"studies"}, 
					:with => "'selected_outcome_id='+$('outcome_outcome').value+
										'&selected_subgroup='+ $($('subgroup_field_id').value).value +
										'&selected_timepoint='+this.value +
										'&updating='+'timepoint' +
										'&form_type=' + $('model_name').value")} %>
		<% else %>
		  <em>There are no time points defined for this outcome. If you require a time point, please edit the <%= link_to "Outcome Setup Page", "/projects/#{session[:project_id]}/studies/#{session[:study_id]}/outcomesetup" %></em>
		  <input type="hidden" id="outcome_analysis_timepoint_id" value="0"/>
		<% end %>		
	</div></div></div>
	</td>
	</tr>
	</table>
    <br/>
    <b>Adjustment Options</b><br/>
    Non-Adjusted: <span id='toggle_nonadjusted_link' onClick="toggle_display_by_class('.non_adjusted_analysis','table-cell',this.id);">Hide</span>
    <br/>Adjusted: <span id='toggle_adjusted_link' onClick="toggle_display_by_class('.adjusted_analysis','table-cell',this.id);">Hide</span>
		<br/><br/>