
<h3>Outcomes</h3>
<table class="list_table complex_header">
<tr>
<th rowspan=2>Outcome Title</th>
<th rowspan=2>Arm A</th>
<th rowspan=2>Arm B</th>
<th colspan=3 align='center'>Non-Adjusted</th>
<th colspan=3 align='center'>Adjusted</th>
</tr>
<tr>
	<th>
		<% selected_adjusted_estimation_parameter = "" %>
		<% selected_adjusted_parameter_dispersion = "" %>
		<% selected_estimation_parameter = "" %>
		<% selected_parameter_dispersion = "" %>
		
		<% unless @analyses.empty? %>	
		  <% my_cat = @analyses[0] %>
		  <% selected_adjusted_estimation_parameter = my_cat.adjusted_estimation_parameter_type %>
		  <% selected_adjusted_parameter_dispersion = my_cat.adjusted_parameter_dispersion_type %>
		  <% selected_estimation_parameter = my_cat.estimation_parameter_type %>
		  <% selected_parameter_dispersion = my_cat.parameter_dispersion_type %>
		<% end %>
		<%= selected_estimation_parameter.to_s %>
	</th>
	<th>
		<%= selected_parameter_dispersion.to_s %>
	</th>
	<th>P-Value</th>
	<th>
		<%= selected_adjusted_estimation_parameter.to_s %>
	</th>
	<th>
		<%= selected_adjusted_parameter_dispersion.to_s %>
	</th>
	<th>P-Value</th>
</tr>
<% unless @analyses.empty? %>
<% row_num = 1%>
	<% @analyses.each do |cat| %>
  	
	  <tr class="<%= cycle("even", "odd") %>" id=<%= "categorical_row_" + row_num.to_s %> > 
  		<td>
  				<% @outcomes.each do |out| %>
						<% if out.id.to_i == cat.outcome_id.to_i %>
							<%= out.title.to_s %>						
						<% end %>
					<% end %>	
			</td>
			
			<td>	f
					<% @arms.each do |arm| %>
						<% if arm.id.to_i == cat.arm1_id.to_i %>	
						<%= arm.title.to_s %>
							<% end %>
					<% end %>
			</td>
			
			<td>		
					<% @arms.each do |arm| %>
						<% if arm.id.to_i == cat.arm2_id.to_i %>
							<%= arm.title.to_s %>
						<% end %>
					<% end %>
			</td>
			<td>
				<%= cat.estimation_parameter_value.to_s %>
			</td>
			<td>
				<%= cat.parameter_dispersion_value.to_s %>
			</td>
			<td>
				<%= cat.p_value.to_s %>
			</td>		
			<td>
				<%= cat.adjusted_estimation_parameter_value.to_s %>
			</td>	
			<td>
				<%= cat.adjusted_parameter_dispersion_value.to_s %>
			</td>
			<td>
				<%= cat.adjusted_p_value.to_s %>
			</td>	
	  
	<% end %>
<% end %>

</table>
<br/>