<h1>Listing outcome_analyses</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Outcome name</th>
    <th>Arm1</th>
    <th>Arm2</th>
    <th>Categorical or continuous</th>
    <th>N analyzed</th>
    <th>N total</th>
    <th>N event</th>
    <th>Estimation parameter type</th>
    <th>Estimation parameter value</th>
    <th>Parameter dispersion type</th>
    <th>Parameter dispersion value</th>
    <th>P value</th>
    <th>Adjusted parameter dispersion type</th>
    <th>Adjusted parameter dispersion value</th>
    <th>Adjusted p value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outcome_analyses.each do |outcome_analyasis| %>
  <tr>
    <td><%= outcome_analyasis.study_id %></td>
    <td><%= outcome_analyasis.outcome_name %></td>
    <td><%= outcome_analyasis.arm1_id %></td>
    <td><%= outcome_analyasis.arm2_id %></td>
    <td><%= outcome_analyasis.categorical_or_continuous %></td>
    <td><%= outcome_analyasis.n_analyzed %></td>
    <td><%= outcome_analyasis.n_total %></td>
    <td><%= outcome_analyasis.n_event %></td>
    <td><%= outcome_analyasis.estimation_parameter_type %></td>
    <td><%= outcome_analyasis.estimation_parameter_value %></td>
    <td><%= outcome_analyasis.parameter_dispersion_type %></td>
    <td><%= outcome_analyasis.parameter_dispersion_value %></td>
    <td><%= outcome_analyasis.p_value %></td>
    <td><%= outcome_analyasis.adjusted_parameter_dispersion_type %></td>
    <td><%= outcome_analyasis.adjusted_parameter_dispersion_value %></td>
    <td><%= outcome_analyasis.adjusted_p_value %></td>
    <td><%= link_to 'Show', outcome_analyasis %></td>
    <td><%= link_to 'Edit', edit_outcome_analyasis_path(outcome_analyasis) %></td>
    <td><%= link_to 'Destroy', outcome_analyasis, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outcome analysis', new_outcome_analyasis_path %>
