<p id="notice"><%= notice %></p>

<p>
  <b>Outcome:</b>
  <%= @outcome_subgroup.outcome_id %>
</p>

<p>
  <b>Title:</b>
  <%= @outcome_subgroup.title %>
</p>

<p>
  <b>Description:</b>
  <%= @outcome_subgroup.description %>
</p>


<%= link_to 'Edit', edit_outcome_subgroup_path(@outcome_subgroup) %> |
<%= link_to 'Back', outcome_subgroups_path %>
