<h1>Listing exclusion_criteria_items</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Item text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exclusion_criteria_items.each do |exclusion_criteria_item| %>
  <tr>
    <td><%= exclusion_criteria_item.study_id %></td>
    <td><%= exclusion_criteria_item.item_text %></td>
    <td><%= link_to 'Show', exclusion_criteria_item %></td>
    <td><%= link_to 'Edit', edit_exclusion_criteria_item_path(exclusion_criteria_item) %></td>
    <td><%= link_to 'Destroy', exclusion_criteria_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exclusion criteria item', new_exclusion_criteria_item_path %>
