<h1>Listing template_outcome_columns</h1>

<table>
  <tr>
    <th>Template</th>
    <th>Column</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @template_outcome_columns.each do |template_outcome_column| %>
  <tr>
    <td><%= template_outcome_column.template_id %></td>
    <td><%= template_outcome_column.column_id %></td>
    <td><%= link_to 'Show', template_outcome_column %></td>
    <td><%= link_to 'Edit', edit_template_outcome_column_path(template_outcome_column) %></td>
    <td><%= link_to 'Destroy', template_outcome_column, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template outcome column', new_template_outcome_column_path %>
