<%= form_for(@outcome_timepoint_result) do |f| %>
  <% if @outcome_timepoint_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outcome_timepoint_result.errors.count, "error") %> prohibited this outcome_timepoint_result from being saved:</h2>

      <ul>
      <% @outcome_timepoint_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :outcome_id %><br />
    <%= f.text_field :outcome_id %>
  </div>
  <div class="field">
    <%= f.label :study_id %><br />
    <%= f.text_field :study_id %>
  </div>
  <div class="field">
    <%= f.label :arm_id %><br />
    <%= f.text_field :arm_id %>
  </div>
  <div class="field">
    <%= f.label :timepoint_id %><br />
    <%= f.text_field :timepoint_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
