<h1>Listing outcome_timepoint_results</h1>

<table>
  <tr>
    <th>Outcome</th>
    <th>Study</th>
    <th>Arm</th>
    <th>Timepoint</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outcome_timepoint_results.each do |outcome_timepoint_result| %>
  <tr>
    <td><%= outcome_timepoint_result.outcome_id %></td>
    <td><%= outcome_timepoint_result.study_id %></td>
    <td><%= outcome_timepoint_result.arm_id %></td>
    <td><%= outcome_timepoint_result.timepoint_id %></td>
    <td><%= outcome_timepoint_result.value %></td>
    <td><%= link_to 'Show', outcome_timepoint_result %></td>
    <td><%= link_to 'Edit', edit_outcome_timepoint_result_path(outcome_timepoint_result) %></td>
    <td><%= link_to 'Destroy', outcome_timepoint_result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outcome timepoint result', new_outcome_timepoint_result_path %>
