<h1>Listing population_characteristic_data_points</h1>

<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
    <th>Arm</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @population_characteristic_data_points.each do |population_characteristic_data_point| %>
  <tr>
    <td><%= population_characteristic_data_point.attribute_id %></td>
    <td><%= population_characteristic_data_point.value %></td>
    <td><%= population_characteristic_data_point.arm_id %></td>
    <td><%= link_to 'Show', population_characteristic_data_point %></td>
    <td><%= link_to 'Edit', edit_population_characteristic_data_point_path(population_characteristic_data_point) %></td>
    <td><%= link_to 'Destroy', population_characteristic_data_point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Population characteristic data point', new_population_characteristic_data_point_path %>
