<p id="notice"><%= notice %></p>

<p>
  <b>Attribute:</b>
  <%= @population_characteristic_data_point.attribute_id %>
</p>

<p>
  <b>Value:</b>
  <%= @population_characteristic_data_point.value %>
</p>

<p>
  <b>Arm:</b>
  <%= @population_characteristic_data_point.arm_id %>
</p>


<%= link_to 'Edit', edit_population_characteristic_data_point_path(@population_characteristic_data_point) %> |
<%= link_to 'Back', population_characteristic_data_points_path %>
