<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @outcome_timepoint.study_id %>
</p>

<p>
  <b>Outcome:</b>
  <%= @outcome_timepoint.outcome_id %>
</p>

<p>
  <b>Number:</b>
  <%= @outcome_timepoint.number %>
</p>

<p>
  <b>Time unit:</b>
  <%= @outcome_timepoint.time_unit %>
</p>


<%= link_to 'Edit', edit_outcome_timepoint_path(@outcome_timepoint) %> |
<%= link_to 'Back', outcome_timepoints_path %>
