<% if @secondary_publications.length > 0 %>
	<table class="list_table">
	<th>UI</th>
	<th>Title</th>
	<th>Author</th>
	<th>Country</th>
	<th>Year</th>
	<% for pub in @secondary_publications %>
		<tr class="<%= cycle("even", "odd") %>">
		<td><%= pub.ui %></td>
		<td><%= pub.title %></td>
		<td><%= pub.author %></td>
		<td><%= pub.country %></td>
		<td><%= pub.year %></td>
		</tr>
	<% end %>
<% else %>
  There are currently no secondary publications associated with this study.
<% end %>

</table>
<br/><br/>