<% if @secondary_publications.length > 0 %>
	<table class="list_table">
	<th>UI</th>
	<th>Title</th>
	<th>Author</th>
	<th>Country</th>
	<th>Year</th>
	<% for pub in @secondary_publications %>
		<tr class="<%= cycle("even", "odd") %>">
		<td>
		<% @pub_uis = PublicationNumber.where(:publication_id => pub.id).all %>
		<% for ui in @pub_uis %>
			<%= ui.number %> (<%= ui.number_type %>)<br/>
		<% end %>
		</td>
		<td><%= pub.title %></td>
		<td><%= pub.author %></td>
		<td><%= pub.country %></td>
		<td><%= pub.year %></td>
		</tr>
	<% end %>
<% else %>
  There are currently no secondary publications associated with this study.
<% end %>

</table>
<br/><br/>