<%= form_for(@publication, :remote => true, :html=>{:id=>'secondary_pub_form'}) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :publication_title %>:
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %>:
    <%= f.text_field :author, :size => 12 %>

    <%= f.label :country %>:
    <%= f.text_field :country, :size => 10 %>

    <%= f.label :year %>:
    <%= f.text_field :year, :size => 6 %>
  </div>
  <div class="field">
    <%= f.label :isbn %>:
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :ui %>:
    <%= f.text_field :ui, :size => 9 %>

    <%= f.label :ui_type %>:
    <%= f.text_field :ui_type %>
  </div>
  <%= hidden_field_tag :is_primary, "false" %>

  <div class="actions">
   <%= f.submit "Update" %>  <%= link_to 'Done Editing', new_study_publication_path(session[:study_id]), :remote=>true %>
  </div>
<% end %>
