<%= nested_form_for(@publication, :remote => true, :html=>{:id=>'secondary_pub_form'}) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<%= f.label :publication_title %>:<%= f.text_field :title %>
	</div>
	  <div class="field">
    	<%= f.label :author %>: <%= f.text_field :author, :size => 12 %>
    	<%= f.label :country %>: <%= f.text_field :country, :size => 10 %>
      <%= f.label :year %>:<%= f.text_field :year, :size => 6 %></td></tr>
</div>
  <div class="field">
    	Association Type: 
  		<% association_options = ["Contributed to Analysis","Used for Reference","Methods Description"] %>
  		<select id="publication_association" name="publication[association]">
  		  <option value="">Select the type of association</option>
  		<% association_options.each do |opt| %>
  		  <% selected = "" %>
  		  <% if @publication.association == opt.gsub(" ","_") %>
  		    <% selected = "selected" %>
  		  <% end %>
  			<option value=<%= opt.gsub(" ","_") %> <%= selected %>><%= opt %></option>
  		<% end %>
  		</select>
</div>
		<%= f.fields_for :publication_numbers do |t| %>
		Identifier: <%= t.text_field :number %> Identifier type: <%= t.text_field :number_type %>  <%= t.link_to_remove "Remove" %><br/>
  <% end %><br/>
<%= f.link_to_add "Add an Identifier", :publication_numbers %>
  <br/><br/>

  <%= hidden_field_tag :is_primary, "false" %>

  <div class="actions">
   <%= f.submit "Update" %>  <%= link_to 'Done Editing', new_study_publication_path(session[:study_id]), :remote=>true %>
  </div>

<% end %>
