<%= nested_form_for(@publication, :remote => true, :html=>{:id=>'secondary_pub_form'}) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form_content">
  <div class="field">
<label>Publication Title:</label>
<%= f.text_field :title %>
	</div>
	  <div class="field">
    	<label>Author:</label><%= f.text_field :author, :size => 12 %></div>
		<div class="field">
    	<label>Country:</label><%= f.text_field :country, :size => 10 %>
		</div>
		<div class="field">
      <label>Year:</label><%= f.text_field :year, :size => 6 %>
</div>
  <div class="field">
    	Association Type: 
  		<% association_options = ["Contributed to Analysis","Used for Reference","Methods Description"] %>
  		<select id="publication_association" name="publication[association]">
  		  <option value="">Select the type of association</option>
  		<% association_options.each do |opt| %>
  		  <% selected = "" %>
  		  <% if @publication.association == opt.gsub(" ","_") %>
  		    <% selected = "selected" %>
  		  <% end %>
  			<option value=<%= opt.gsub(" ","_") %> <%= selected %>><%= opt %></option>
  		<% end %>
  		</select>
</div>
<% @id_types = [["Choose Identifier Type", "Choose Identifier Type"], ["Pubmed", "Pubmed"], ["Cochrane", "Cochrane"], ["NCT", "NCT"], ["ClinicalTrials\.gov", "ClinicalTrials\.gov"], ["Other", "Other"]]%>

	
	<%= f.fields_for :publication_numbers do |t| %>
		    <div class="field">
			<label class="inline-label">
		Identifier:
	</label>
	<%= t.text_field :number, :class => "inline-field" %>    <br/><br/>
	<label class="inline-label">
		Identifier Type:
	</label>
		<%= t.select :number_type, @id_types %>
		
		<div class="admin_functions"><%= t.link_to_remove "Remove This Identifier" %></div>
  </div>   <% end %>

<%= f.link_to_add "Add an Identifier", :publication_numbers %>

  <br/><br/>

  <div class="actions">
 		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Save Edits
		</button>
		<%= link_to 'Cancel', new_study_publication_path(session[:study_id]), :remote=>true %>
  </div>

<% end %>
