<%= form_for @primary_publication, :remote=>true do |f| %>

<table class="form_table"><tr><td>

    <%= f.label :publication_title %>:  </td>
    <td colspan="6">
    <%= f.text_field :title %>
	
  </td>
  
</tr>
<tr>
	<td>
    <%= f.label :author %>: </td><td>
    <%= f.text_field :author, :size => 12 %>
</td><td>
    <%= f.label :country %>: </td><td>
    <%= f.text_field :country, :size => 10 %>
</td><td>
    <%= f.label :year %>:</td><td>
    <%= f.text_field :year, :size => 6 %>
</td></tr>
<tr><td>
    UID: </td><td>
    <%= f.text_field :ui, :size => 12 %>
</td>
<td>UID Type:</td>
<td><%= f.text_field :ui_type, :size => 12 %></td></tr>
<tr><td colspan="6">
	<div class="actions">
    <%= hidden_field_tag :is_primary, "true" %>
	<%= f.submit "Save" %></div>
	</td></tr></table>
<% end %>
