<% if @secondary_publications.length > 0 %>
	<table class="list_table">
	<th>UI</th>
	<th>Title</th>
	<th>Author</th>
	<th>Country</th>
	<th>Year</th>
	<th>Actions</th>
	<% for pub in @secondary_publications %>
		<tr class="<%= cycle("even", "odd") %>" id="pub_row_<%=pub.id.to_s %>">
		<% @ui_list = Publication.get_pub_uis(pub.id) %>
		<td>
			<% if !@ui_list.nil? %>
			<% for i in @ui_list %>
				<%= i.number %> (<%= i.number_type %>)<br/>
			<% end %>
			<% end %>
		</td>
		<td><%= pub.title %></td>
		<td><%= pub.author %></td>
		<td><%= pub.country %></td>
		<td><%= pub.year %></td>
		<td><%= link_to :Edit, edit_publication_path(pub), :remote=>true, :class => "edit_link" %>
		<%= link_to :Delete, publication_path(pub), :remote=>true, :confirm => 'Are you sure?', :method=>:delete, :class => "delete_link" %></td>
		</tr>
	<% end %>
<% else %>
  There are currently no secondary publications associated with this study.
<% end %>

</table>
<br/><br/>