<% if @secondary_publications.length > 0 %>
	<table class="list_table">
	<th>UI</th>
	<th>Title</th>
	<th>Author</th>
	<th>Country</th>
	<th>Year</th>
	<th>Edit</th>
	<th>Delete</th>
	<% for pub in @secondary_publications %>
		<tr class="<%= cycle("even", "odd") %>" id="pub_row_<%=pub.id.to_s %>">
		<td><%= pub.ui %></td>
		<td><%= pub.title %></td>
		<td><%= pub.author %></td>
		<td><%= pub.country %></td>
		<td><%= pub.year %></td>
		<td><%= link_to :Edit, edit_publication_path(pub), :remote=>true %></td>
		<td><%= link_to :Delete, publication_path(pub), :remote=>true, :confirm => 'Are you sure?', :method=>:delete %></td>
		</tr>
	<% end %>
<% else %>
  There are currently no secondary publications associated with this study.
<% end %>

</table>
<br/><br/>