<h1>Listing publications</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Title</th>
    <th>Author</th>
    <th>Country</th>
    <th>Year</th>
    <th>Isbn</th>
    <th>Ui</th>
    <th>Ui type</th>
    <th>Is primary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publications.each do |publication| %>
  <tr>
    <td><%= publication.study_id %></td>
    <td><%= publication.title %></td>
    <td><%= publication.author %></td>
    <td><%= publication.country %></td>
    <td><%= publication.year %></td>
    <td><%= publication.isbn %></td>
    <td><%= publication.ui %></td>
    <td><%= publication.ui_type %></td>
    <td><%= publication.is_primary %></td>
    <td><%= link_to 'Show', publication %></td>
    <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
    <td><%= link_to 'Destroy', publication, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Publication', new_publication_path %>
