<%= form_for(@arm, :remote => true, :html=>{:id=>"edit_arm_form"}) do |f| %>
  <% if @arm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arm.errors.count, "error") %> prohibited this arm from being saved:</h2>

      <ul>
      <% @arm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form_content">
  <div class="field">
    <label>Arm Title:</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>Arm Description:</label>
    <%= f.text_area :description, :cols => 50, :rows => 4 %>
  </div>
  <div class="field">
    <label>Number of Participants:</label>
    <%= f.text_field :num_participants %>
  </div>
  <div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Save Edits
		</button>
    <%= link_to 'Cancel', new_study_arm_path(session[:study_id]), :remote=>true %>
  </div>
  </div>
<% end %>
