<%= form_for(@arm) do |f| %>
  <% if @arm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arm.errors.count, "error") %> prohibited this arm from being saved:</h2>

      <ul>
      <% @arm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :study_id %><br />
    <%= f.text_field :study_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :num_participants %><br />
    <%= f.text_field :num_participants %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
