<%= form_for(@arm, :remote => true, :html=>{:id=>"new_arm_form"}) do |f| %>
  <% if @arm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arm.errors.count, "error") %> prohibited this arm from being saved:</h2>

      <ul>
      <% @arm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arm_title %>:
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :arm_description %>:<br />
    <%= f.text_area :description, :cols => 50, :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :number_of_participants %>: 
    <%= f.text_field :num_participants %>
  </div>
  <div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Add Arm to Study
		</button>
  </div>
<% end %>
