<div id="arm_validation_message"></div>
<% unless @arms.length < 1 %>
  <table class="list_table">
  	<th>Arm Title</th>
  	<th>Arm Description</th>
  	<th>Edit</th>
  	<th>Delete</th>
    <% for onearm in @arms %>
      <tr class="<%= cycle("even", "odd") %>" id="arm_row_<%=onearm.id.to_s %>">
				<td><%= onearm.title %></td>
				<td><%= onearm.description %></td>
				<td><%= link_to 'Edit', edit_study_arm_path(session[:study_id],onearm), :remote=>true %></td>
				<td><%= link_to "Delete", onearm, :remote => true, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		<% end %>
	</table>
<% else %>
<em>There are no arms associated with this study. Please use the form below to add a new arm.</em>
<% end %>