<h1>Listing default_outcome_columns</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Column</th>
    <th>Column name</th>
    <th>Column description</th>
    <th>Units</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @default_outcome_columns.each do |default_outcome_column| %>
  <tr>
    <td><%= default_outcome_column.study_id %></td>
    <td><%= default_outcome_column.column_id %></td>
    <td><%= default_outcome_column.column_name %></td>
    <td><%= default_outcome_column.column_description %></td>
    <td><%= default_outcome_column.units %></td>
    <td><%= link_to 'Show', default_outcome_column %></td>
    <td><%= link_to 'Edit', edit_default_outcome_column_path(default_outcome_column) %></td>
    <td><%= link_to 'Destroy', default_outcome_column, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Default outcome column', new_default_outcome_column_path %>
