<table class="list_table">
		
		<tr>
		<th colspan="2">Category</th>
		<th>Display Arms</th>
		<th>Display Total</th>
		<th>Field Notes</th>
		<th>Actions</th>
		</tr>

		<% if @baseline_characteristic_fields.length > 0 %>
		
			<% for bcf in @baseline_characteristic_fields %>
				<tr class="<%= cycle("even", "odd") %>" id="bcf_row_<%=bcf.id.to_s %>">
					<% bcf_subcategories = BaselineCharacteristicSubcategoryField.where(:baseline_characteristic_field_id => bcf.id).all %>
						
						<% if bcf_subcategories.length > 0 %>
							<% length = bcf_subcategories.length %>
							<td><%=bcf.category_title %>
								<% if !bcf.units.nil? %>(<%= bcf.units %>)<br/><% end %>
								<% if !bcf.measurement_type.nil? %>(<%= bcf.measurement_type %>)<% end %>
							</td>
<td>							
							<% for subcat in bcf_subcategories %>
								<%=subcat.subcategory_title%><br/>
							<% end %>
							</td>

						<% else %>
						<% length = 1 %>
							<td colspan="2">
								<%=bcf.category_title %>
								<% if !bcf.units.nil? && !bcf.units == "" %>(<%= bcf.units %>)<br/><% end %>
								<% if !bcf.measurement_type.nil? && !bcf.measurement_type == "" %>(<%= bcf.measurement_type %>)
								<% end %>
							</td>
						<% end %>
						<td><%=bcf.display_arms == false ? "No" : "Yes" %></td>
						<td><%=bcf.display_total == false ? "No" : "Yes" %></td>
						<td><%= bcf.field_notes %></td>
						<td>
							<%= link_to "Edit", edit_baseline_characteristic_field_path(bcf), :remote=>true, :class => "edit_link" %>
							<%= link_to "Delete", bcf, :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link" %></td>
							</tr>
				
			<%# END FOR %>
			<% end %>
		
		<%# END IF - bcf.length %>
		<% end %>

	</table>
<br/>
<br/>