<h1>Listing population_characteristic_subcategories</h1>

<table>
  <tr>
    <th>Subcategory</th>
    <th>Units</th>
    <th>Population characteristic</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @population_characteristic_subcategories.each do |population_characteristic_subcategory| %>
  <tr>
    <td><%= population_characteristic_subcategory.subcategory %></td>
    <td><%= population_characteristic_subcategory.units %></td>
    <td><%= population_characteristic_subcategory.population_characteristic_id %></td>
    <td><%= population_characteristic_subcategory.value %></td>
    <td><%= link_to 'Show', population_characteristic_subcategory %></td>
    <td><%= link_to 'Edit', edit_population_characteristic_subcategory_path(population_characteristic_subcategory) %></td>
    <td><%= link_to 'Destroy', population_characteristic_subcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Population characteristic subcategory', new_population_characteristic_subcategory_path %>
