<p>
  <h1>Profile Details for User: <%=h @user.login %></h1>
</p>

  <b>Name:</b>  <%=h @user.fname %>   <%=h @user.lname %><br/>
  <b>Organization:</b>   <%=h @user.organization %><br/>
  <br/>
  <b>Login count:</b>
  <%=h @user.login_count %>
<br/>
  <b>Last seen:</b>
  <%=h (Time.now - @user.last_request_at).to_i %> seconds ago


<br/><br/>
<%= link_to 'Edit Profile', edit_account_path %>