<table class="list_table">
		
		<tr>
		<th colspan="2">Category</th>
		<th>Field Notes</th>
		<th>Actions</th>
		</tr>

		<% if @design_detail_fields.length > 0 %>
		
			<% for bcf in @design_detail_fields %>
				<tr class="<%= cycle("even", "odd") %>" id="bcf_row_<%=bcf.id.to_s %>">
					<% bcf_subcategories = DesignDetailSubcategoryField.where(:design_detail_field_id => bcf.id).all %>
						
						<% if bcf_subcategories.length > 0 %>
							<% length = bcf_subcategories.length %>
							<td><%=bcf.title %>

							</td>
<td>							
							<% for subcat in bcf_subcategories %>
								<%=subcat.subcategory_title%><br/>
							<% end %>
							</td>

						<% else %>
						<% length = 1 %>
							<td colspan="2">
								<%=bcf.title %>

							</td>
						<% end %>
						<td><%= bcf.field_notes %></td>
						<td>
							<%= link_to "Edit", edit_design_detail_field_path(bcf, :template_id => bcf.template_id), :remote=>true, :class => "edit_link" %>
							<%= link_to "Delete", design_detail_field_path(bcf.id, :template_id => bcf.template_id), :remote => true, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link" %>
							</td>
							</tr>
				
			<%# END FOR %>
			<% end %>
		
		<%# END IF - bcf.length %>
		<% end %>

	</table>
<br/>
<br/>