<table class="list_table">
  <tr>
  	<th>UI</th>
    <th>Study Type</th>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
	<th>Key Questions Addressed </th>

  </tr>
<% i=0 %>
<% @studies.each do |study| %>
<% if !study.nil? %>
<% study_pub_info = Study.get_primary_pub_info(study.id) %>
 <% if !study_pub_info.nil? %> 
 <tr class="<%= cycle("even", "odd") %>">
  	<td><%= study_pub_info.ui %></td>
    <td><%= study.study_type %></td> 	
    <td><%= link_to  study_pub_info.title, '/projects/'+session[:project_id].to_s+'/studies/'+study.id.to_s %></td>
    <td><%= study_pub_info.author %></td>
    <td><%= study_pub_info.year %></td>
	<td><%= @kq_formatted_strings[i] %></td>
	</td>
  </tr>
  <% end %>
  <% end %>
  <% i += 1%>
<% end %>
</table>