<%= form_for(@study, :remote => true) do |f| %>
  <% if @study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
      <% @study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <h2>Study Design</h2>  
  <div class="form_content">


  
<div class="field">
    <label>Study Type:</label>
    <%= f.select :study_type, options_for_select([['RCT', 'RCT'], ['Other', 'Other']]), {}, :class => "has_other" %>
    
  </div>
</div>
  <h2>Enrollment Information</h2>
  <div class="form_content">
  <div class="field">
    <label>Number of Participants:</label>
    <%= f.text_field :num_participants , :size=>6%>
</div>
  
  <div class="field">
    <label>Recruitment Details:</label>
    <%= f.text_area :recruitment_details, :cols => 50, :rows => 4 %>
  </div>
  <div class="field">
    <label>Inclusion Criteria:</label>
    <%= f.text_area :inclusion_criteria, :cols => 50, :rows => 4 %>
  </div>
  <div class="field">
    <label>Exclusion Criteria:</label>
    <%= f.text_area :exclusion_criteria, :cols => 50, :rows => 4 %>
  </div>
  <div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Accept.png"%>Save Study Design
		</button>
  </div>
  </div>
<% end %>
