<%= form_for(@study, :remote => true) do |f| %>
  <% if @study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
      <% @study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :study_title %>:
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :number_of_participants %>:
    <%= f.text_field :num_participants , :size=>6%>

    <%= f.label :study_type %>:
    <%= f.text_field :type %>
  </div>
  
  <div class="field">
    <%= f.label :recruitment_details %>:<br />
    <%= f.text_area :recruitment_details, :cols => 50, :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :inclusion_criteria %>:<br />
    <%= f.text_area :inclusion_criteria, :cols => 50, :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :exclusion_criteria %>:<br />
    <%= f.text_area :exclusion_criteria, :cols => 50, :rows => 4 %>
  </div>
  <div class="actions">
<%= f.submit "Save" %>
  </div>
<% end %>
