<h2>Study Design</h2>
<%= render 'form' %>
<br/><br/>
<hr width="80%" size="1" align="center"><br/>

<h3>Study Arms</h3>
<div id="arms_table">
<%= render 'arms/table' %>
</div>
<h3>Add New Arm to Study</h3>
<div id="new_arm_entry">
<%= render 'arms/form' %>
</div>
<br/>
<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "edit" %></td><td align="right">
<%= link_to "Continue", "attributes" %>
</td></tr></table>