<h1>Listing studies</h1>

<table>
  <tr>
  	<th>UI</th>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% i=0 %>
<% @studies.each do |study| %>
  <tr>
  	<td><%= @study_titles[i][0] %></td>
    <td><%= @study_titles[i][1] %></td>
    <td><%= @study_titles[i][2] %></td>
    <td><%= @study_titles[i][3] %></td>
    <td><%= study.study_type %></td>
    <td><%= link_to 'Show', study %></td>
    <td><%= link_to 'Edit', edit_project_study_path(@project, study) %></td>
    <td><%= link_to 'Destroy', study, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% i += 1 %>
<% end %>
</table>

<br />

<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "edit" %></td><td align="right">
<%= link_to "New Study", new_project_study_path %>
</td></tr></table>
<br/><br/>
