<h1>Listing studies</h1>

<table class="list_table">
  <tr>
  	<th>UI</th>
    <th>Type</th>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
    <th>Key Questions Answered</th>
    <th>Edit</th>
    <th>Copy</th>
	<th>Delete</th>
  </tr>
<% i=0 %>
<% @studies.each do |study| %>
<% study_pub_info = Study.get_primary_pub_info(study.id) %>
<% if !study_pub_info.nil? %> 
 <tr class="<%= cycle("even", "odd") %>">
  	<td>
	<%= study_pub_info.ui %>
	</td>
    <td><%= study.study_type %></td>	
    <td><%= link_to study_pub_info.title, project_study_path(@project, study) %></td>
    <td><%= study_pub_info.author %></td>
    <td><%= study_pub_info.year %></td>
	<td>
		<% arr = Study.get_key_question_output(study.id) %>
		<%= arr.to_sentence %>
	</td>
    <td><%= link_to 'Edit', edit_project_study_path(@project, study) %></td>
    <td><%= link_to 'Copy',new_project_study_path(@project, :template=>study.id) %>
    <td><%= link_to 'Delete', project_study_path(@project, study), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "/projects/" + session[:project_id].to_s + "/edit/" %></td><td align="right">
<%= link_to "New Study", new_project_study_path %><br/>
<%= link_to "Project Summary Page", project_path(@project) %>
</td></tr></table>
<br/>
<br/><br/>
