<h1>Listing studies</h1>

<table class="list_table">
  <tr>
  	<th>UI</th>
    <th>Type</th>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
    <th>Key Questions Answered</th>
    <th>Actions</th>
  </tr>
<% i=0 %>
<% unless @studies.empty? %>
<% @studies.each do |study| %>
<% study_pub_info = Study.get_primary_pub_info(study.id) %>
<% if !study_pub_info.nil? %> 
 <tr class="<%= cycle("even", "odd") %>">
  	<td>
	<%= study_pub_info.ui %>
	</td>
    <td><%= study.study_type %></td>	
    <td><%= link_to study_pub_info.title, project_study_path(@project, study) %></td>
    <td><%= study_pub_info.author %></td>
    <td><%= study_pub_info.year %></td>
	<td>
		<% arr = Study.get_key_question_output(study.id) %>
		<%= arr.to_sentence %>
	</td>
    <td>
	<%= link_to 'Copy',new_project_study_path(@project, :template=>study.id), :class => "edit_link" %>
	<% has_privilege = User.current_user_has_study_edit_privilege(@project.id, current_user) %>
	<% if has_privilege %>
	<%= link_to 'Edit', edit_project_study_path(@project, study), :class => "edit_link" %>
	<%= link_to 'Delete', project_study_path(@project, study), :confirm => 'Are you sure?', :method => :delete, :class => "delete_link" %>
	<% end %>
</td>
  </tr>
  <% end %>
<% end %>
<% else %>
  <tr><td colspan=7><em>There are currently no studies entered for this review.</em></td></tr>
<%end%>
</table>

<br />

<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "/projects/" + session[:project_id].to_s + "/edit/" %></td><td align="right">
	<% has_privilege = User.current_user_has_study_edit_privilege(@project.id, current_user) %>
	<% if has_privilege %>
<%= link_to "New Study", new_project_study_path %><br/>
<% end %>
<%= link_to "Project Summary Page", project_path(@project) %>
</td></tr></table>
<br/>
<br/><br/>
