<h1>Listing studies</h1>

<table>
  <tr>
  	<th>UI</th>
    <th>Title</th>
    <th>Author</th>
    <th>Year</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% i=0 %>
<% @studies.each do |study| %>
<% study_pub_info = Study.get_primary_pub_info(study.id) %>
<% if !study_pub_info.nil? %> 
 <tr>
  	<td>
	<%= study_pub_info.ui %>
	</td>
    <td><%= study_pub_info.title %></td>
    <td><%= study_pub_info.author %></td>
    <td><%= study_pub_info.year %></td>
    <td><%= study.study_type %></td>
    <td><%= link_to 'Show', study %></td>
    <td><%= link_to 'Edit', edit_project_study_path(session[:project_id], study) %></td>
    <td><%= link_to 'Destroy', study, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "edit" %></td><td align="right">
<%= link_to "New Study", new_project_study_path %>
</td></tr></table>
<br/><br/>
