<h2>Add Study</h2>
 <h3>Study Key Questions:</h3><br/>
  <% unless @questions.empty? %>
<%= form_for(@study, :remote => true) do |f| %>
  <% @questions.each do |q| %>
	        
	    <input type="checkbox" name=<%= "question_" + q.id.to_s %> >
		<%= q.question_number.to_s + ". " + q.question %><br/>  
	  <% end %>
	  <%= f.submit "Save Questions" %>
<% end %>
  <% else %>
    There are no key questions associated with this project.
  <% end %>

<br/>
<hr width="80%" size="1" align="center"><br/>

<h3>Primary Publication Information</h3>
<%= render 'publications/form_primary' %>
<br/><br/>
<hr width="80%" size="1" align="center"><br/>


<h3>Secondary Publication Information</h3>
<div id="secondary_publication_table">
<%= render 'publications/table' %>
</div>

<b>Add new Publication to Study</b><br/><br/>
<div id="secondary_publication_entry">
<%= render 'publications/form' %>
</div>
<br/>

<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "../studies" %></td><td align="right">
<%= link_to "Continue", "../studies/" + @study.id.to_s + "/design" %>
</td></tr></table>





