<h2>Study Outcome Comparisons</h2>

<% if @study_arms.length > 1 || @outcomes.length > 0 %>
	
	<%= render "outcome_analyses/outcome_analysis_options" %>
	
	<%= render "outcome_analyses/subgroup_timepoint_selector" %>
	<div id="entry_form">
  <%= render "outcome_analyses/entry_form_table"%>
</div><br/><br/>
	<center><div id='existing_analyses'>
    <%= render "outcome_analyses/saved_analyses" %>
  </div></center>
  

	
<% else %>
	  This study has insufficient data for analysis. This could mean either no outcomes or not enough arms.
<% end %>
<br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "outcomedata" %></td><td align="right">
<%= link_to "Continue", "adverseevents" %>
</td></tr></table>