<h2>Study Outcome Analysis</h2>

<% if @study_arms.length > 1 %>
	<%= render 'outcome_analyses/outcome_analysis_options' %>
	
  <% unless @continuous_outcomes.empty? %>
		<%= render 'outcome_analyses/continuous_entry_form_table' %>
	<% end %>
	
	<% unless @categorical_outcomes.empty? %>
		<%= render 'outcome_analyses/categorical_entry_form_table' %>
	<% end %>
<% else %>
  This study does not have enough arms for a comparison.
<% end %>
<br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "outcomedata" %></td><td align="right">
<%= link_to "Continue", "adverseevents" %>
</td></tr></table>