<h2>Study Outcome Comparisons</h2>
<br/>
<% unless (@categorical_outcomes.empty? && @continuous_outcomes.empty?) || @study_arms.empty? %>
	<% if (!@categorical_outcomes.nil? && @categorical_outcomes.length > 0) || (!@continuous_outcomes.nil? && @continuous_outcomes.length > 0) %>

	
	<div id="outcome_comparisons_table">
	<%= render 'outcome_comparisons/table' %>
	</div>
	
	
	<div id="outcome_comparisons_list">
	<%# render 'outcome_results/completed_list', :selected_outcome_object => @selected_outcome_object %>
	</div>
	
	<br/>

	<% else %>
	<b>There are currently no outcomes listed for this study. </b>
	<% end %>
<% else %>
  To enter comparison data you will first need to define <%= link_to 'outcomes','/projects/'+session[:project_id].to_s+'/studies/'+session[:study_id].to_s+'/outcomesetup' %> 
  and <%= link_to 'arms','/projects/'+session[:project_id].to_s+'/studies/'+session[:study_id].to_s+'/design' %>
  for this study.  <br/><br/>
<% end %>

<br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "outcomedata" %></td><td align="right">
<%= link_to "Continue", "adverseevents" %>
</td></tr></table>