<h2>Study Quality</h2>

<%= render 'quality_aspects/table' %>


<h3>Add New Quality Aspect</h3>

<%= render 'quality_aspects/form' %>

<h3>Adjust Quality Rating</h3>

<%= render 'quality_ratings/form' %>

<br/>
<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "adverseevents" %></td><td align="right">
<%= link_to "Preview Study", "../" + params[:study_id].to_s %><br/>
<%= link_to "Studies List", ".." %>
</td></tr></table>