<div class="study_creation_header">
<h1>Editing Study Section: Study Quality</h1>
</div>

<%= render "map" %>

<div id="quality_dimension_fields_table">
<%= render 'quality_dimension_data_points/table' %>
</div>

<h3>Add New Quality Dimension</h3>
<div id="quality_dimension_fields_entry">
<%= render 'quality_dimension_fields/custom_field_form' %>
</div>
<h3>Adjust Quality Rating</h3>

<div id="quality_ratings_table">
<%= render 'quality_ratings/table' %>
</div><br/>

<%= render 'quality_ratings/form' %>

<br/>
<table id="bottom_nav"><tr><td align="left"><%= link_to "Back", "adverseevents" %></td><td align="right">
<%= link_to "Preview Study", "../" + params[:study_id].to_s %><br/>
<%= link_to "Studies List", ".." %>
</td></tr></table>