<p id="notice"><%= notice %></p>
<h1>Study Summary</h1>
  
  <!-- SUMMARY HEADING DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('summary_text','summary_link');">
  	<span id='summary_link' class="toggle_hide_link">-</span>
  	&nbsp;Study Title and Description
  </div>
  <div id="summary_text" style="display:inline;">
	  <h2><%= @study_title %></h2>
	  <table border="0"><tr><td>
	  <h4>Study Type:</h4> </td><td> <%= @study.study_type %><br/></td></tr><tr><td>
	  <h4>Participants:</h4> </td><td> <%= @study.num_participants %></td></tr><tr><td colspan="2">
	  <h4>Recruitment Details:</h4></td></tr><tr><td colspan="2"> <%= @study.recruitment_details %>  </td></tr></table>
	  <br/>
	</div>
	
	<br/>
	
	<!-- KEY QUESTIONS DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('key_questions_text','key_questions_link');" >
	<span id='key_questions_link' class="toggle_hide_link">-</span>
  	&nbsp;Key Questions Addressed
	</div><br/>
	<div id="key_questions_text" style="display:inline;">
	<% unless @study_questions.empty? %>
	<% @study_questions.each do |q| %>
		<%= q.question_number.to_s + ". " + q.question %><br/>
	<% end %>
	<br/>
	<% else %>
		There are no key questions associated with this study.<br/>
	<% end %>
	</div>

	
	<!-- PUBLICATION INFORMATION DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('publications_text','publications_link');" >
	<span id='publications_link' class="toggle_display_link">+</span>
  	&nbsp;Publication Information
	</div>
	<div id="publications_text" style="display:none;">
	<br/>
	<h4>Primary Publication</h4>
		<table border="0" cellpadding="2"><tr><td>
		<b>Title:</b></td><td colspan="3"> <%= @primary_publication.title %> </td></tr><tr><td>
		<b>Author: </b></td><td width="250"> <%=@primary_publication.author %></td><td> <b>Country: </b></td><td> <%=@primary_publication.country %> </td></tr><tr><td>
		<b>Year:</b></td><td> <%=@primary_publication.year %></td></tr><tr><td>
		<b>Numbers: </b></td><td>
				<% @pub_uis = PublicationNumber.where(:id => @primary_publication.id).all %>
				<% for ui in @pub_uis %>
					<%= ui.number %> (<%= ui.number_type %>)<br/>
				<% end %>
		</tr></table>
		
	<br/>
	
	<h4>Secondary Publications</h4><br/>
		<%= render 'publications/completed_table' %>	
	</div>
	<br/>		

	<!-- INCLUSION CRITERIA DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('inclusion_criteria_text','inclusion_criteria_link');" >
	<span id='inclusion_criteria_link' class="toggle_display_link">+</span>
  	&nbsp;Inclusion Criteria
	</div>		
	<div id='inclusion_criteria_text' style="display:none;">
	<% @incl_criteria = InclusionCriteriaItem.where(:study_id => @study.id).all %>
		<% if !@incl_criteria.nil? %>
			<ul>
	<% for ic in @incl_criteria %>
					<li><%= ic.item_text %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
	<br/>

  <!-- EXCLUSION CRITERIA DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('exclusion_criteria_text','exclusion_criteria_link');">
		<span id='exclusion_criteria_link' class="toggle_display_link">+</span>
  	&nbsp;Exclusion Criteria
	</div>
	<div id="exclusion_criteria_text" style="display:none;">
		<% @excl_criteria = ExclusionCriteriaItem.where(:study_id => @study.id).all %>
		<% if !@excl_criteria.nil? %>
			<ul>
				<% for exc in @excl_criteria %>
					<li><%= exc.item_text %></li>
				<% end %>
			</ul>
	<% end %>
	</div>
	<br/>
	
	<!-- STUDY ARMS DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('study_arms_text','study_arms_link');">
	<span id='study_arms_link' class="toggle_display_link">+</span>
  	&nbsp;Study Arms
	</div>
	<div id="study_arms_text" style="display:none;">		<br/>
		<% if @study_arms.length > 0 %>
		<%= render 'arms/completed_table' %>	
		<% end %>
	</div>
	<br/>

	<!-- BASELINE CHARACTERISTICS DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('pop_char_text','pop_char_link');">
		<span id='pop_char_link' class='toggle_display_link'>+</span>
	  &nbsp;Baseline Characteristics
	</div>
	<div id="pop_char_text" style="display:none;"><br/>
	<%= render 'baseline_characteristic_data_points/completed_table' %>
	<br/>
	</div>
	<br/>
	
	<!-- OUTCOME RESULTS DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('outcome_results_text','outcome_results_link');">
	  <span id="outcome_results_link" class="toggle_display_link">+</span>
	  &nbsp;Outcome Results Tables
	</div>
	<div id="outcome_results_text" style="display:none;">
		<%# render 'outcome_results/completed_table' %>	
	<br/>
	</div>
	<br/>
	
	<!-- OUTCOME ANALYSIS DIV SECTION -->
	<div class="summary_heading" onclick="toggle_display('outcome_analysis_text','outcome_analysis_link');">
	  <span id="outcome_analysis_link" class="toggle_display_link">+</span>
	  &nbsp;Outcome Analysis Tables
	</div>
	<div id="outcome_analysis_text" style="display:none;">
	<% if @analyses.length > 0 %>	
		<%= render 'outcome_analyses/table_of_analyses' %>	
	<% else %>
		<b>There are currently no outcome analyses to be displayed.</b><br/><br/>
	<% end %>
	<br/>
	</div>
	<br/>
	
  <!-- ADVERSE EVENTS SECTION -->
	<div class="summary_heading" onclick="toggle_display('adverse_events_text','adverse_events_link');">
		<span id="adverse_events_link" class="toggle_display_link">+</span>
		&nbsp;Adverse Events
	</div>
	<div id="adverse_events_text" style="display:none;">
		<%= render 'adverse_events/completed_table' %>	
		<br/>
	</div>
	<br/>
	
	<!-- QUALITY ASSESSMENT SECTION -->
	<div class="summary_heading" onclick="toggle_display('qa_text','qa_link');">
		<span id="qa_link" class='toggle_display_link'>+</span>
		&nbsp;Quality Assessment
	</div>
	<div id="qa_text" style="display:none;">
	<br/>
		<%= render 'quality_dimension_data_points/completed_table' %><br/><br/>
		<%= render 'quality_ratings/table' %>		
		<br/>
	</div>
	<br/>
<table id="bottom_nav"><tr><td align="left"></td><td align="right">
	<% has_privilege = User.current_user_has_study_edit_privilege(@project.id, current_user) %>
	<% if has_privilege %>
<%= link_to 'Edit this Study', edit_project_study_path(@project, @study) %>
<br/>
<% end %>
<%= link_to "Back to Project Study List", project_studies_path(@project) %>
</td></tr></table>