<div id="validation_message"><%= flash[:notice] %></div>
<% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="form_content">
<%= form_for(@project, :remote =>true) do |f| %>
  <table class="form_table">
  <tr><td>
    <%= f.label :choose_a_project_title %>: </td><td><%= f.text_field :title, :size => 40 %></td>
	</td></tr><tr><td colspan="2">
    <%= f.label :enter_a_project_description %>:</td></tr><tr><td colspan="2">
    <%= f.text_area :description, :cols => 50, :rows => 4 %></td></tr><tr><td colspan="2">
    <%= f.label :project_notes %>:</td></tr><tr><td colspan="2">
    <%= f.text_area :notes, :cols => 50, :rows => 4 %></td></tr><tr><td colspan="2">

  <div class="actions">
    <%= f.submit "Save" %>
  </div></td></tr></table>
<% end %>
</div>
