<div id="validation_message"><%= flash[:notice] %></div>

  <div class="form_content">
<%= form_for(@project, :remote =>true, :before=>"if($('project_title').value < 4){return false;}") do |f| %>

	<div class="field">
    <%= f.label :choose_a_project_title %>: <br/><%= f.text_field :title, :size => 53 %>
	</div>

	<div class="field">
    <%= f.label :enter_a_project_description %>:
	<%= f.text_area :description, :cols => 50, :rows => 4 %>
	</div>

	<div class="field">
    <label>
		ISBN (If any):
	</label>
	<%= f.text_field :isbn, :size=>20 %>
	</div>

	<div class="field">
  	<%= f.label :project_notes %>:<br/>
	<%= f.text_area :notes, :cols => 50, :rows => 4 %>
	</div>

	<div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Accept.png"%>Save Project
		</button>
  </div>

<% end %>
</div>
