<p id="notice"><%= notice %></p>
<h1>Systematic Review Summary</h1>

<div class="summary_heading">Project Title and Description</div>
<h2><%= @project.title %></h2>
  <div class="indent_block"><%= @project.description %></div>
<br/><br/>
  <%= @project.notes %>
<br/>

<div class="summary_heading">Key Questions</div>
<br/>
<%= render 'key_questions/completed_table' %>	
</br>

<% has_privilege = User.current_user_has_project_edit_privilege(@project.id, current_user) %>
<% if has_privilege %>
	<div class="summary_heading">Project Collaborators</div>
	<br/>

		Project Lead: <%= Project.get_project_leads_string(@project.id) %><br/>
		Project Collaborators: <%= Project.get_project_collabs_string(@project.id) %><br/>

	<br/><br/>
<% end %>

<div class="summary_heading">Associated Studies</div>
<br/>
<%= render 'studies/completed_table' %>	
<br/><br/>
<div class="summary_heading">Systematic Review Summary</div>
<br/><br/>
<table id="bottom_nav"><tr><td align="left"></td><td align="right">
	<% has_privilege = User.current_user_has_project_edit_privilege(@project.id, current_user) %>
	<% if has_privilege %>
<%= link_to 'Edit this Project', edit_project_path(@project) %><br/>
<%= link_to 'View Study List', project_studies_path(@project) %><br/>
<%= link_to "Add Study to Project", new_project_study_path(@project.id) %><br/>
<% end %>
<%= link_to 'Back to Project List', '../projects' %>
</td></tr></table>

