<p id="notice"><%= notice %></p>
<h1>Systematic Review Summary</h1>

<div class="summary_heading">Project Title and Description</div>
<h2><%= @project.title %></h2>
  <div class="indent_block"><%= @project.description %></div>
<br/><br/>
  <%= @project.notes %>
<br/>

<div class="summary_heading">Key Questions</div>
<br/>
<%= render 'key_questions/completed_table' %>	
</br>

<div class="summary_heading">Project Collaborators</div>
<br/>
This feature is not implemented yet!
<br/><br/>

<div class="summary_heading">Associated Studies</div>
<br/>
<%= render 'studies/completed_table' %>	
<br/><br/>
<div class="summary_heading">Systematic Review Summary</div>
<br/><br/>
<table id="bottom_nav"><tr><td align="left"></td><td align="right">
<%= link_to 'Edit this Project', edit_project_path(@project) %><br/>
<%= link_to 'Back to Project List', '../projects' %>
</td></tr></table>

