<h2>Project: Study List</h2>
<div id="form_content">
<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Num participants</th>
    <th>Recruitment details</th>
    <th>Inclusion criteria</th>
    <th>Exclusion criteria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studies.each do |study| %>
  <tr>
    <td><%= study.title %></td>
    <td><%= study.type %></td>
    <td><%= study.num_participants %></td>
    <td><%= study.recruitment_details %></td>
    <td><%= study.inclusion_criteria %></td>
    <td><%= study.exclusion_criteria %></td>
    <td><%= link_to 'Show', study %></td>
    <td><%= link_to 'Edit', edit_project_study_path(@project, study) %></td>
    <td><%= link_to 'Destroy', study, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

</div>
<table border="0" width="60%"><tr><td align="left"><%= link_to "Back", "edit" %></td><td align="right">
<%= link_to "New Study", "studies/new" %>
</td></tr></table>
<br/><br/>
