<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @inclusion_criteria_item.study_id %>
</p>

<p>
  <b>Item text:</b>
  <%= @inclusion_criteria_item.item_text %>
</p>


<%= link_to 'Edit', edit_inclusion_criteria_item_path(@inclusion_criteria_item) %> |
<%= link_to 'Back', inclusion_criteria_items_path %>
