<p id="notice"><%= notice %></p>

<p>
  <b>Design detail field:</b>
  <%= @design_detail_data_point.design_detail_field_id %>
</p>

<p>
  <b>Value:</b>
  <%= @design_detail_data_point.value %>
</p>

<p>
  <b>Notes:</b>
  <%= @design_detail_data_point.notes %>
</p>


<%= link_to 'Edit', edit_design_detail_data_point_path(@design_detail_data_point) %> |
<%= link_to 'Back', design_detail_data_points_path %>
