<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @quality_aspect.study_id %>
</p>

<p>
  <b>Dimension:</b>
  <%= @quality_aspect.dimension %>
</p>

<p>
  <b>Value:</b>
  <%= @quality_aspect.value %>
</p>

<p>
  <b>Notes:</b>
  <%= @quality_aspect.notes %>
</p>


<%= link_to 'Edit', edit_quality_aspect_path(@quality_aspect) %> |
<%= link_to 'Back', quality_aspects_path %>
