<%= form_for(@key_question, :remote => true, :html=>{:id=>"edit_kq_form"}) do |f| %>
  <% if @key_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key_question.errors.count, "error") %> prohibited this key_question from being saved:</h2>

      <ul>
      <% @key_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form_content">
  <div class="field">
 <label>Enter Key Question Text:</label>
<%= f.text_area :question, :cols=>50, :rows=>4 %>
</div>
    <div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Accept.png"%>Save Edits
		</button>
  <%= link_to 'Cancel', 
                   new_project_key_question_path(session[:project_id]), :remote=>true %>
  </div>
</div>
<% end %>
