<%= form_for(@key_question, :remote => true, :html=>{:id=>"edit_kq_form"}) do |f| %>
  <% if @key_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key_question.errors.count, "error") %> prohibited this key_question from being saved:</h2>

      <ul>
      <% @key_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form_table">
  <tr><td>
    <%= f.label :question_text %>:</td><td>
    <%= f.text_area :question, :cols=>50,:rows=>4 %>
  </td></tr>
  <tr><td colspan="2">
    <div class="actions">
      <%= f.submit "Update" %>  <%= link_to 'Done Editing', 
                   new_project_key_question_path(session[:project_id]), :remote=>true %>
  </div>
 </td></tr></table>
<% end %>
