<%= form_for(@key_question, :remote => true, :update => "key_question_table") do |f| %>
  <% if @key_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key_question.errors.count, "error") %> prohibited this key_question from being saved:</h2>

      <ul>
      <% @key_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.hidden_field :project_id, :value => @project.id %>

  <div class="field">
    <%= f.label :question_text %>:
    <%= f.text_field :question, :size => 50 %>
  </div>
  <div class="field">
    <%= f.label :question_description %><br />
    <%= f.text_area :description, :cols => 50, :rows => 4 %>
  </div>
  <div class="actions">
    <%= f.submit  "Add new key question" %>
  </div>
<% end %>
