<%= form_for(@key_question, :remote => true, :html=>{:id=>"new_key_question"}) do |f| %>
  <% if @key_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key_question.errors.count, "error") %> prohibited this key_question from being saved:</h2>

      <ul>
      <% @key_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form_content">
 <div class="field">
 <label>Enter Key Question Text:</label>
<%= f.text_area :question, :cols=>50, :rows=>4 %>
</div>
	<div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Add a Key Question
		</button>
	</div>
</div>
<% end %>
