<h1>Listing key_questions</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Question number</th>
    <th>Question</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @key_questions.each do |key_question| %>
  <tr>
    <td><%= key_question.project_id %></td>
    <td><%= key_question.question_number %></td>
    <td><%= key_question.question %></td>
    <td><%= key_question.description %></td>
    <td><%= link_to 'Show', key_question %></td>
    <td><%= link_to 'Edit', edit_key_question_path(key_question) %></td>
    <td><%= link_to 'Destroy', key_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Key question', new_key_question_path %>
