<%= form_for(@outcome_comparison) do |f| %>
  <% if @outcome_comparison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outcome_comparison.errors.count, "error") %> prohibited this outcome_comparison from being saved:</h2>

      <ul>
      <% @outcome_comparison.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arm_id %><br />
    <%= f.text_field :arm_id %>
  </div>
  <div class="field">
    <%= f.label :outcome_id %><br />
    <%= f.text_field :outcome_id %>
  </div>
  <div class="field">
    <%= f.label :timepoint_id %><br />
    <%= f.text_field :timepoint_id %>
  </div>
  <div class="field">
    <%= f.label :outcome_comparison_column_id %><br />
    <%= f.text_field :outcome_comparison_column_id %>
  </div>
  <div class="field">
    <%= f.label :is_calculated %><br />
    <%= f.check_box :is_calculated %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
