<table class="list_table">
<th>Dimension</th>
<th>Value</th>
<th>Notes</th>
<th>Actions</th>
<%# ------------------- LISTING TEMPLATE FIELDS --------------------- %>
<% if !@quality_dimension_template_fields.nil? && @quality_dimension_template_fields.length > 0 %>
<% for qa in @quality_dimension_template_fields %>
<tr class="<%= cycle("even", "odd") %>" id='<%= 'quality_aspect_' + qa.id.to_s %>'>

<td><%= qa.title %></td>

<% tmpl_id = qa.template_id %>
<% val = QualityDimensionDataPoint.get_data_point(qa, session[:study_id], "value") %>
<td><%=  val %></td>

<% val = QualityDimensionDataPoint.get_data_point(qa, session[:study_id], "notes") %>
<td>
<%= val %>

</td>
<td><%= image_tag "Lock.png", :alt => "This is a template field and cannot be removed." %></td>
</tr>
<% end %>
<% end %>

<%# ------------------- LISTING CUSTOM FIELDS --------------------- %>

<% if !@quality_dimension_custom_fields.nil? && @quality_dimension_custom_fields.length > 0 %>
<% for qa in @quality_dimension_custom_fields %>
<tr class="<%= cycle("even", "odd") %>" id='<%= 'quality_aspect_' + qa.id.to_s %>'>
<td><%= qa.title %></td>
<% tmpl_id = qa.template_id %>
<% val = QualityDimensionDataPoint.get_data_point(qa, session[:study_id], "value") %>

<td><%= val %></td>

<% val = QualityDimensionDataPoint.get_data_point(qa, session[:study_id], "notes") %>
<td>
<%= val %>
</td>
<td></td>
</tr>
<% end %>
<% end %>

</table>
