<%= nested_form_for(@outcome, :remote => true, :update => "outcomes_table", :html=>{:id=>"edit_outcome_form"}) do |f| %>
  <% if @outcome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outcome.errors.count, "error") %> prohibited this outcome from being saved:</h2>

      <ul>
      <% @outcome.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :study_id, :value=>session[:study_id] %>
  </div>
  <div class="field">
    <%= f.label :outcome_title %>:
    <%= f.text_field :title, :class=>"bp_form_complete-1353-name" %>
  </div>
 
  <div class="field">
    <%= f.label :is_this_a_primary_outcome %>?
    <%= f.check_box :is_primary %>
  </div>
  
  <div class="field">
    <%= f.label :units %>:
    <%= f.text_field :units %>
  </div>
 
<br/>


  <h4>Add Outcome Time Points</h4>
  
	<%= f.fields_for :outcome_timepoints do |t| %>
  <%= t.text_field :number %>
  <%= t.select :time_unit, options_for_select([ "minutes", "hours", "days", "weeks", "months", "years" ]) %>
  <%= t.link_to_remove "Remove" %><br/>
  <% end %><br/>
<%= f.link_to_add "Add a timepoint", :outcome_timepoints %>
  <br/><br/>
  
   <h4>Add Outcome Subgroups </h4>
  
	<%= f.fields_for :outcome_subgroups do |t| %>
  Subgroup Title: <%= t.text_field :title %> <br/>
  Subgroup Description (Optional): <%= t.text_field :description %>  <%= t.link_to_remove "Remove" %><br/>
  <% end %><br/>
<%= f.link_to_add "Add a Subgroup", :outcome_subgroups %>
  <br/><br/>
  <div class="field">
    <%= f.label :description %>:<br />
    <%= f.text_area :description, :rows => 4, :cols => 40 %>
  </div>
  <div class="field">
        General notes about this outcome:<br/>
		(Specific notes about timepoints, subgroups, and data can be entered on the Results page)<br/>
    <%= f.text_area :notes, :rows => 4, :cols => 40 %>
  </div>
  <div class="actions">
		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Update Outcome
		</button>
  <%= link_to 'Done Editing', new_outcome_path, :remote=>true %>
  </div>
<% end %>
