<%= nested_form_for(@outcome, :remote => true, :update => "outcomes_table", :html=>{:id=>"new_outcome_form"}) do |f| %>
  <% if @outcome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outcome.errors.count, "error") %> prohibited this outcome from being saved:</h2>

      <ul>
      <% @outcome.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :study_id, :value => params[:study_id] %>
  </div>
  <div class="field">
    <%= f.label :outcome_title %>:
    <%= f.text_field :title, :class=>"bp_form_complete-1353-name" %>
  </div>
  <div class="field">
    <%= f.label :outcome_type %>:
<%= f.select :outcome_type, options_for_select([ "Categorical", "Continuous" ]) %>
  </div>
  <div class="field">
    <%= f.label :is_this_a_primary_outcome %>?
    <%= f.check_box :is_primary %>
  </div>
  <div class="field">
    <%= f.label :units %>:
    <%= f.text_field :units %>
  </div>
 
<br/>
  <h4>Numbers Enrolled by Arm</h4><br/>

<% if @study_arms.length > 0 %>
	
	<table>
  <% i = 1 %>
	
  <% @study_arms.each do |one_arm| %>
	  <% fieldname = "num_enrolled_" + one_arm.id.to_s %>
		<tr><td align='right'>Arm <%= i %>: <%= one_arm.title %></td><td> <%= text_field :num_enrolled, one_arm.id.to_s,:size=>10 %></td></tr>
	  <% i += 1 %>
	<% end %>
	</table>
<% end %><br/>

  <h4>Add Outcome Time Points</h4>
  
	<%= f.fields_for :outcome_timepoints do |t| %>
  <%= t.text_field :number %>
  <%= t.select :time_unit, options_for_select([ "minutes", "hours", "days", "weeks", "months", "years" ]) %>
  <%= t.link_to_remove "Remove" %><br/>
  <% end %><br/>
<%= f.link_to_add "Add a timepoint", :outcome_timepoints %>
  <br/><br/>
  <div class="field">
    <%= f.label :description %>:<br />
    <%= f.text_area :description, :rows => 4, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :notes %>:<br />
    <%= f.text_area :notes, :rows => 4, :cols => 40 %>
  </div>
  <div class="actions">
    <%= f.submit "Add Outcome to List" %>
  </div>
<% end %>
