
<table class="list_table">
<th>Outcome Title</th>
<th>Primary?</th>
<th>Units</th>
<th>Follow-Up Time Points</th>
<th>Subgroups</th>
<th>Outcome Description</th>
<th>Edit</th>
<th>Delete</th>
<% if @outcomes.length > 0 %>
<% for oneoutcome in @outcomes %>
	<tr class="<%= cycle("even", "odd") %>" id=<%= "outcome_"+oneoutcome.id.to_s %>>
	<td><%= oneoutcome.title %></td>
	<td><% if oneoutcome.is_primary %>
		Yes
		<% else %>
		No
		<% end %>
	</td>
	<td><%= oneoutcome.units %></td>
	
	<td>
	<% outcome_timepoints = Outcome.get_timepoints(oneoutcome.id) %>
	<%= outcome_timepoints %>
	</td>
	<td>
	<% outcome_subgroups = Outcome.get_subgroups(oneoutcome.id) %>
	<%= outcome_subgroups %>
	</td>
	<td><%= oneoutcome.description %></td>
	<td><%= link_to "Edit", edit_outcome_path(oneoutcome), :remote=>true %></td>
	<td><%= link_to "Delete", oneoutcome, :remote => true, :update => "outcomes_table", :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
<% end %>
</table>
<br/><br/><div id="outcome_validation_message"></div>