<h1>Listing outcomes</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Title</th>
    <th>Type</th>
    <th>Is primary</th>
    <th>Units</th>
    <th>Description</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outcomes.each do |outcome| %>
  <tr>
    <td><%= outcome.study_id %></td>
    <td><%= outcome.title %></td>
    <td><%= outcome.type %></td>
    <td><%= outcome.is_primary %></td>
    <td><%= outcome.units %></td>
    <td><%= outcome.description %></td>
    <td><%= outcome.notes %></td>
    <td><%= link_to 'Show', outcome %></td>
    <td><%= link_to 'Edit', edit_outcome_path(outcome) %></td>
    <td><%= link_to 'Destroy', outcome, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outcome', new_outcome_path %>
