<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @outcome.study_id %>
</p>

<p>
  <b>Title:</b>
  <%= @outcome.title %>
</p>

<p>
  <b>Type:</b>
  <%= @outcome.type %>
</p>

<p>
  <b>Is primary:</b>
  <%= @outcome.is_primary %>
</p>

<p>
  <b>Units:</b>
  <%= @outcome.units %>
</p>

<p>
  <b>Description:</b>
  <%= @outcome.description %>
</p>

<p>
  <b>Notes:</b>
  <%= @outcome.notes %>
</p>


<%= link_to 'Edit', edit_outcome_path(@outcome) %> |
<%= link_to 'Back', outcomes_path %>
