<%= form_for(@study_template) do |f| %>
  <% if @study_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@study_template.errors.count, "error") %> prohibited this study_template from being saved:</h2>

      <ul>
      <% @study_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :study_id %><br />
    <%= f.text_field :study_id %>
  </div>
  <div class="field">
    <%= f.label :template_id %><br />
    <%= f.text_field :template_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
