<h1>Listing design_detail_subcategory_fields</h1>

<table>
  <tr>
    <th>Subcategory title</th>
    <th>Design detail field</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @design_detail_subcategory_fields.each do |design_detail_subcategory_field| %>
  <tr>
    <td><%= design_detail_subcategory_field.subcategory_title %></td>
    <td><%= design_detail_subcategory_field.design_detail_field_id %></td>
    <td><%= link_to 'Show', design_detail_subcategory_field %></td>
    <td><%= link_to 'Edit', edit_design_detail_subcategory_field_path(design_detail_subcategory_field) %></td>
    <td><%= link_to 'Destroy', design_detail_subcategory_field, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Design detail subcategory field', new_design_detail_subcategory_field_path %>
