<%= form_for(@outcome_enrolled_number) do |f| %>
  <% if @outcome_enrolled_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outcome_enrolled_number.errors.count, "error") %> prohibited this outcome_enrolled_number from being saved:</h2>

      <ul>
      <% @outcome_enrolled_number.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arm_id %><br />
    <%= f.text_field :arm_id %>
  </div>
  <div class="field">
    <%= f.label :outcome_id %><br />
    <%= f.text_field :outcome_id %>
  </div>
  <div class="field">
    <%= f.label :num_enrolled %><br />
    <%= f.text_field :num_enrolled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
