<h1>Listing outcome_enrolled_numbers</h1>

<table>
  <tr>
    <th>Arm</th>
    <th>Outcome</th>
    <th>Num enrolled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outcome_enrolled_numbers.each do |outcome_enrolled_number| %>
  <tr>
    <td><%= outcome_enrolled_number.arm_id %></td>
    <td><%= outcome_enrolled_number.outcome_id %></td>
    <td><%= outcome_enrolled_number.num_enrolled %></td>
    <td><%= link_to 'Show', outcome_enrolled_number %></td>
    <td><%= link_to 'Edit', edit_outcome_enrolled_number_path(outcome_enrolled_number) %></td>
    <td><%= link_to 'Destroy', outcome_enrolled_number, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Outcome enrolled number', new_outcome_enrolled_number_path %>
