<p id="notice"><%= notice %></p>

<p>
  <b>Arm:</b>
  <%= @outcome_enrolled_number.arm_id %>
</p>

<p>
  <b>Outcome:</b>
  <%= @outcome_enrolled_number.outcome_id %>
</p>

<p>
  <b>Num enrolled:</b>
  <%= @outcome_enrolled_number.num_enrolled %>
</p>


<%= link_to 'Edit', edit_outcome_enrolled_number_path(@outcome_enrolled_number) %> |
<%= link_to 'Back', outcome_enrolled_numbers_path %>
