<p id="notice"><%= notice %></p>

<p>
  <b>Outcome:</b>
  <%= @outcome_column.outcome_id %>
</p>

<p>
  <b>Name:</b>
  <%= @outcome_column.name %>
</p>

<p>
  <b>Description:</b>
  <%= @outcome_column.description %>
</p>


<%= link_to 'Edit', edit_outcome_column_path(@outcome_column) %> |
<%= link_to 'Back', outcome_columns_path %>
