<h3>Primary Publication Information</h3>

<div class="form_content">
	  <div class="field">
	    <label>
			Publication Title:
		  </label>
		<%= text_field_tag "item" %>
		</div>
  
		<div class="field">
      <label>
			Author:
			</label>
	    <%= text_field_tag "item" %>
	  </div>
  
	  <div class="field">
      <label>
			Country:
			</label>
    	<%= text_field_tag "item" %>
    </div>
  
    <div class="field">
	    <label>
				Year:
			</label>
	    <%= text_field_tag "item" %>
	  </div>

	  	<div class="actions">

				<%= link_to "Add an Identifier" %>
		<br/><br/>


		<button type="submit" class="positive">
			<%= image_tag "Accept.png"%>Save
		</button><br/>
	</div>
</div>
