
<div id="top-header">
<div class="title">
Systematic Review Data Repository
</div>
<% if current_user_session.nil? %>
<div class="login-link"><%= link_to "Login", "#", :id => "login-link-txt" %></div>
<% else %>
<div class="login-info">Logged in as <%= current_user.login %> | <%= link_to "Log out", :remote => true, :controller => "user_sessions", :action => "destroy" %></div>
<% end %>
</div>

<% if current_user_session.nil? %>
<div id="login-form">
<%= render "user_sessions/login_form" %>
</div>


<script type="text/javascript">
 var $j = jQuery.noConflict();
 $j(document).ready(function() {
  $j('#login-form').hide();
});
$j('#login-link-txt').click(function(event){
  $j('#login-form').toggle();
  event.preventDefault(); // Prevent link from following its href
});
</script>

<% end %>
<div class="breadcrumbs">
<%= render :inline=> get_bread_crumbs(request.url,">") %>
</div>