<div class="searchbar">
<%= render "search/form" %>
</div>

<div class="login-link">
<% if !current_user %>
<%= link_to "Login", "login" %> &#183; <%= link_to "Register", "register" %>
<% else %>
<%= link_to "My Account", "account" %> &#183; <%= link_to "Log Out", "logout" %>
<% end %>
</div>