<!DOCTYPE html>
<html>
<head>
  <title>Srdr</title>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery'%>
      <script type="text/javascript" src="/javascripts/jquery.selectboxes.js" charset="utf-8"></script>
	<script type="text/javascript">
		<!--
		//on page load
		// originally saw this script at http://www.encaffeinated.com/articles/view/creating_a_jumpmenu_in_jquery/
		var $j = jQuery.noConflict();
		$j(document).ready(function() {
		    $j(".jumpmenu").change(function() {
		        var val = $j(this).selectedValues();
		        if (val != '') {
		            location.href=val;
		        }
		    });
		});
	-->
	</script>  
	
  <%= javascript_include_tag 'application', 'jquery.qtip-1.0.0-rc3.min', 'toggleCalculation', 'prototype', 'rails', 'form_complete' %>
  <script src="/javascripts/scriptaculous/src/scriptaculous.js" type="text/javascript"></script>

 <%= csrf_meta_tag %>
 
  </head>
<body>

	
	<div class="login-header">
			<%= render "layouts/login" %>
	</div>

	<div class="container">
		<div class="header">
			<%= render "layouts/header" %>
		</div>
		<div class="content">
					<%# render "layouts/breadcrumbs" %>
			<%= yield %>
		</div>
	</div>

</body>
</html>
