<% for one_outcome in @outcomes %>
<div id="outcome_results_table">

		<h4>Outcome Title: <%= one_outcome.title %></h4><br/>
			
			<table class="list_table">
				<th>Arm</th>
				<% @outcome_timepoints = Outcome.get_timepoints_array(one_outcome.id) %>
				<% if @outcome_timepoints.length > 0 %>
						<% for tp in @outcome_timepoints %>
							<th><%= tp.number.to_s %> <%= tp.time_unit %></th>
						<% end %>
					<% end %>

					<% val = OutcomeResult.get_measure_types(one_outcome.id) %>
				<th>N Analyzed</th>
				<th>
					Measure Type:<br/>
					<%= val["measure_type"].to_s %>
				</th>
				<th>
				Measure of Dispersion Type: <br/>			
					<%= val["measure_dispersion_type"].to_s %>
				</th>
				<th>P-Value</th>

				<% if @arms.length > 0 %>
					<% i = 1 %>
					<% for one_arm in @arms %>
						<tr class="<%= cycle("even", "odd") %>">
							<td>Arm <%= i %>: <%= one_arm.title %></td>
							<% @outcome_timepoints = Outcome.get_timepoints_array(one_outcome.id) %>
							<% if @outcome_timepoints.length > 0 %>
								<% for tp in @outcome_timepoints %>
									<% val = OutcomeResult.get_timepoint_data_point(one_arm.id, one_outcome.id, tp.id) %>
									<% if OutcomeResult.get_timepoint_data_point_calc(one_arm.id, one_outcome.id, tp.id) %>
										<td class="calculated"><%= val%></td>									
									<% else %>
										<td><%= val%></td>
									<% end %>
								<% end %>
							<% end %>
							<% val = OutcomeResult.get_data_point(one_arm.id, one_outcome.id) %>
							<% calc = OutcomeResult.get_data_point_calc(one_arm.id, one_outcome.id) %>							
							
								<% if calc["nanalyzed"] %>
									<td class="calculated"><%= val["nanalyzed"] %></td>
								<% else %>
									<td><%= val["nanalyzed"] %></td>
								<% end %>
								
								<% if calc["measurereg"] %>
									<td class="calculated"><%= val["measurereg"] %></td>
								<% else %>
									<td><%= val["measurereg"] %></td>
								<% end %>
								
								<% if calc["measuredisp"] %>							
									<td class="calculated"><%= val["measuredisp"] %></td>
								<% else %>
									<td><%= val["measuredisp"] %></td>
								<% end %>
								
								<% if calc["pvalue"] %>
									<td class="calculated"><%= val["pvalue"] %></td>
								<% else %>
									<td><%= val["pvalue"] %></td>
								<% end %>
							<% i = i + 1 %>
					<% end %>
				<% end %>
					</tr>
			</table>

</div>
<br/>
<% end %>