<% if !@selected_outcome.nil? %>
<% one_outcome = @selected_outcome %>

	<h2>Outcome Title: <%= one_outcome.title %></h2><br/>

<% @outcome_all_list = Outcome.get_tp_col_array(one_outcome.id) %>

<% if @outcome_all_list.length > 0 %>
<% for the_item in @outcome_all_list %>
		<%= form_for @outcome_result, :remote => true do |f| %>
		
		<% if the_item["type"] == "timepoint" %>
			<h4>Timepoint Table: <%= the_item["object"].number.to_s %> <%= the_item["object"].time_unit %></h4><br/><br/>

			<%= hidden_field_tag "outcome_id", one_outcome.id.to_s %>
			<%= hidden_field_tag :column_id, :column_id, :value =>  the_item["object"].id.to_s %>
			<%= hidden_field_tag :column_type, :column_type, :value => "timepoint" %>
		<% else %>

			<h4>Column Table: <%= the_item["object"].name.to_s %> - <%= the_item["object"].description %></h4><br/><br/>

			<%= hidden_field_tag "outcome_id", one_outcome.id.to_s %>
			<%= hidden_field_tag :column_id, :column_id, :value => the_item["object"].id.to_s %>
			<%= hidden_field_tag :column_type, :column_type, :value =>  "column" %>
		
		<% end %>
			<table class="list_table non_centered_table">
				<th>Arm</th>

					<% val = OutcomeResult.get_measure_types(one_outcome.id) %>
				<th>N Analyzed</th>
				<% @measure_types_array = [["Select Measure Type", "Select Measure Type"], ["Number", "Number"], ["Mean", "Mean"], ["Median", "Median"], ["Least Squares Mean", "Least Squares Mean"], ["Geometric Mean", "Geometric Mean"], ["Log Mean", "Log Mean"]]%>
				<% @measure_disp_types_array =  [["Select Measure Of Dispersion/Precision", "Select Measure Of Dispersion/Precision"], ["Not Applicable", "Not Applicable"], ["Standard Deviation", "Standard Deviation"], ["Inter-Quartile Range", "Inter-Quartile Range"], ["Full Range", "Full Range"]]%>
				<th><%= select :measure_type, :measure_type, options_for_select(@measure_types_array, val["measure_type"].to_s) %></th>
				<th><%= select :measure_disp_type, :measure_disp_type, options_for_select(@measure_disp_types_array, val["measure_dispersion_type"].to_s) %></th>
				<th>P-Value</th>

				<% if @study_arms.length > 0 %>
					<% i = 1 %>
					<% for one_arm in @study_arms %>
						<tr class="<%= cycle("even", "odd") %>">
							<td>Arm <%= i %>: <%= one_arm.title %></td>
							
							<% val = OutcomeResult.get_data_point(one_arm.id, one_outcome.id) %>
							<% calc = OutcomeResult.get_data_point_calc(one_arm.id, one_outcome.id) %>								
							<td>
								<%= text_field "arm_nanalyzed", one_arm.id.to_s, :size => 5, :value => val["nanalyzed"], :class => "calculated_checkbox" %>
								<%= check_box_tag "arm" + one_arm.id.to_s + "_nanalyzed_calculated", "t", calc["nanalyzed"], :class => "styled" %>							
							</td>
							<td>
								<%= text_field "arm_measurereg", one_arm.id.to_s, :size => 5, :value => val["measurereg"], :class => "calculated_checkbox" %>
								<%= check_box_tag "arm" + one_arm.id.to_s + "_measurereg_calculated", "t", calc["measurereg"], :class => "styled" %>											
							</td>
							<td>
								<%= text_field "arm_measuredisp", one_arm.id.to_s, :size => 5, :value => val["measuredisp"], :class => "calculated_checkbox" %>
								<%= check_box_tag "arm" + one_arm.id.to_s + "_measuredisp_calculated", "t", calc["measuredisp"], :class => "styled" %>	
							</td>
							<td>
								<%= text_field "arm_pvalue", one_arm.id.to_s, :size => 5, :value => val["pvalue"], :class => "calculated_checkbox" %>
								<%= check_box_tag "arm" + one_arm.id.to_s + "_pvalue_calculated", "t", calc["pvalue"], :class => "styled" %>		
							</td>
							<% i = i + 1 %>
					<% end %>
				<% end %>
					</tr>
			</table>
		<%= submit_tag "Save" %>
		<br/><br/>
	<% end %>
	<% end %>
<% end %>
<% end %>