<div id="new_col_entry">
	<%# render 'outcome_columns/custom_form' %>
</div>

 	<script type="text/javascript">				

</script>

<div class="bubbleInfo">
  <div class="popup">
    lalala
  </div>
</div>



<%= form_for(@outcome_data_points, :remote => true, :html=>{:id=>"outcome_data_form"}) do |f| %>

<%# --------------- CATEGORICAL OUTCOMES ----------------%>
<% if @categorical_outcomes.length > 0 %>
<h2>Categorical Outcomes</h2>
<table class="list_table">

<%# --------------- Header ----------------%>

<tr>
<th rowspan="2">Outcome</th>
<th rowspan="2">Intervention</th>
<th rowspan="2">Follow-Up</th>
	<% @template_categorical_columns.group_by(&:column_header).each do |header, cols| %>
		<% if !cols[0].column_header.nil? && cols[0].column_header != "" %>
			<th colspan="<%= cols.length %>"><%=cols[0].column_header %></th>
		<% else %>
			<% for col in cols %>
			<th rowspan="2">
				<%= col.column_name %> 
			</th>
			<% end %>
		<% end %>
	<% end %>
</tr><tr>
	<% @template_categorical_columns.group_by(&:column_header).each do |header, cols| %>
		<% if !cols[0].column_header.nil? && cols[0].column_header != "" %>
			<% for col in cols %>
			<th>
				<%= col.column_name %>
			</th>
			<% end %>
		<% end %>
	<% end %>
</tr>

<%# --------------- Table Meat ----------------%>

<% for outcome in @categorical_outcomes %>
<% @outcome_timepoints_list = OutcomeTimepoint.find(:all, :conditions => {:outcome_id => outcome.id}, :order => "time_unit asc") %>
		<tr>
			<td rowspan="<%= @outcome_timepoints_list.length > 1 ? @study_arms.length*@outcome_timepoints_list.length : @study_arms.length %>">
				<%= outcome.title %>
			</td>
			<% for intervention in @study_arms %>
			<td rowspan="<%= @outcome_timepoints_list.length %>"><%= intervention.title %></td>

					
	
										<% for timepoint in @outcome_timepoints_list %>
											<td width="50"><%= timepoint.time_unit == "baseline" ? timepoint.time_unit : timepoint.number.to_s + " " + timepoint.time_unit %></td>
											
											<% for col in @template_categorical_columns %>
												<% val = OutcomeResult.get_data_point(outcome.id, intervention.id, timepoint.id, col.id) %>
												<% calc = OutcomeResult.get_data_point_calc(outcome.id, intervention.id, timepoint.id, col.id) %>
												<td id="<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_col" + col.id.to_s%>">
												<%= text_field "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s, col.id.to_s, :size => 5, :value=>val, :onchange=>'check_for_footnote(this.value, this.id)' %>
												<%= check_box_tag "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_col" + col.id.to_s + "_calc", true, calc, :style => "display:none" %>
												</td>

												<% if calc.nil? %>
												<% calc = false %>
												<% end %>
							
												<script type="text/javascript">
												toggleCalculationHighlighting(<%= outcome.id.to_s %>, <%= intervention.id.to_s %>, <%= timepoint.id.to_s %>, <%= col.id.to_s %>, <%= calc %>);
												
												$j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_" + col.id.to_s %>').qtip({
												   content: "<a onclick='toggleCalculation(<%= outcome.id.to_s %>, <%= intervention.id.to_s %>, <%= timepoint.id.to_s %>, <%= col.id.to_s %>)'>Toggle calculation highlighting</a>",
												   show: 'mouseover',
												   hide: 'mouseout',
												   hide: {
													fixed: true
													},
												   position: {
													  corner: {
														 target: 'topMiddle',
														 tooltip: 'bottomLeft'
													  }
													  },
												   style: { 
														name: 'blue',
													tip: {
														corner: 'bottomLeft',
														 size: {
															x: 20,
															y : 8
														 }
													}
													},
											 });
											 
												$j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_" + col.id.to_s %>').mouseover(function(){
													$j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_col" + col.id.to_s %>').css('background-color', '#ffff99');
												});
												
												$j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_" + col.id.to_s %>').mouseout(function(){
													var cbox = $j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_col" + col.id.to_s + "_calc" %>');
													var checked = false;
													if (cbox.attr('checked'))
													{
														checked = true;
													}
													else{
														checked = false;
													}
													toggleCalculationHighlighting(<%= outcome.id.to_s %>, <%= intervention.id.to_s %>, <%= timepoint.id.to_s %>, <%= col.id.to_s %>, checked);
												});
												</script>
												
												
											<% end %>
											</tr>

										<% end %>
								

					</tr>
				<% end %>
	<% end %>
<% end %> <%# END CATEGORICAL OUTCOMES.LENGTH %>

</table>



<%# --------------- CONTINUOUS OUTCOMES ----------------%>

<br/>
<% if @continuous_outcomes.length > 0 %>
<h2>Continuous Outcomes </h2>
<table class="list_table">

<%# --------------- Header ----------------%>

<tr>
<th rowspan="2">Outcome</th>
<th rowspan="2">Intervention</th>
<th rowspan="2">Follow-Up</th>

	<% @template_continuous_columns.group_by(&:column_header).each do |header, cols| %>
		<% if !cols[0].column_header.nil? %>
			<th colspan="<%= cols.length %>"><%=cols[0].column_header %></th>
		<% else %>
			<% for col in cols %>
			<th rowspan="2">
				<%= col.column_name %>
			</th>
			<% end %>
		<% end %>
	<% end %>
</tr><tr>
	
	
	<% @template_continuous_columns.group_by(&:column_header).each do |header, cols| %>
		<% if !cols[0].column_header.nil? %>
			<% for col in cols %>
			<th>
				<%= col.column_name %>
			</th>
			<% end %>
		<% end %>
	<% end %>
</tr>

<%# --------------- Table Meat ----------------%>

<% for outcome in @continuous_outcomes %>
<% @outcome_timepoints_list = OutcomeTimepoint.find(:all, :conditions => {:outcome_id => outcome.id}, :order => "time_unit asc") %>
		<tr>
			<td rowspan="<%= @outcome_timepoints_list.length > 1 ? @study_arms.length*@outcome_timepoints_list.length : @study_arms.length %>">
				<%= outcome.title %>
			</td>
			<% for intervention in @study_arms %>
			<td rowspan="<%= @outcome_timepoints_list.length %>"><%= intervention.title %></td>

					
							
										<% for timepoint in @outcome_timepoints_list %>
											<td width="50"><%= timepoint.time_unit == "baseline" ? timepoint.time_unit : timepoint.number.to_s + " " + timepoint.time_unit %></td>
											
											<% for col in @template_continuous_columns %>
												<% val = OutcomeResult.get_data_point(outcome.id, intervention.id, timepoint.id, col.id) %>
												<% calc = OutcomeResult.get_data_point_calc(outcome.id, intervention.id, timepoint.id, col.id) %>
												<td id="<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_col" + col.id.to_s%>">
												<%= text_field "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s, col.id.to_s, :size => 5, :value=>val, :onchange=>'check_for_footnote(this.value, this.id)' %>
												<%= check_box_tag "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_col" + col.id.to_s + "_calc", true, calc, :style => "display:none" %>
												</td>
												
												<% if calc.nil? %>
												<% calc = false %>
												<% end %>
							
												<script type="text/javascript">
												toggleCalculationHighlighting(<%= outcome.id.to_s %>, <%= intervention.id.to_s %>, <%= timepoint.id.to_s %>, <%= col.id.to_s %>, <%= calc %>);
												
												$j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_" + col.id.to_s %>').qtip({
												   content: "<a onclick='toggleCalculation(<%= outcome.id.to_s %>, <%= intervention.id.to_s %>, <%= timepoint.id.to_s %>, <%= col.id.to_s %>)'>Toggle calculation highlighting</a>",
												   show: 'mouseover',
												   hide: 'mouseout',
												   hide: {
													fixed: true
													},
												   position: {
													  corner: {
														 target: 'topMiddle',
														 tooltip: 'bottomLeft'
													  }
													  },
												   style: { 
														name: 'blue',
													tip: {
														corner: 'bottomLeft',
														 size: {
															x: 20,
															y : 8
														 }
													}
													},
											 });
											 
												$j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_" + col.id.to_s %>').mouseover(function(){
													$j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_col" + col.id.to_s %>').css('background-color', '#ffff99');
												});
												
												$j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_" + col.id.to_s %>').mouseout(function(){
													var cbox = $j('#<%= "out" + outcome.id.to_s + "_arm" + intervention.id.to_s + "_tp" + timepoint.id.to_s + "_col" + col.id.to_s + "_calc" %>');
													var checked = false;
													if (cbox.attr('checked'))
													{
														checked = true;
													}
													else{
														checked = false;
													}
													toggleCalculationHighlighting(<%= outcome.id.to_s %>, <%= intervention.id.to_s %>, <%= timepoint.id.to_s %>, <%= col.id.to_s %>, checked);
												});
												</script>
												
												
												
												
											<% end %>
											</tr>

										<% end %>
								

					</tr>
				<% end %>
	<% end %>
<% end %> <%# END CONTINUOUS OUTCOMES.LENGTH %>
</table>
<br/>
  <div class="indent_block actions">
		<button type="submit" class="positive">
			<%= image_tag "Add.png"%>Save Table Data
		</button>
	</div>
	<% end %>
	
<%= form_tag({:controller => "outcome_results", :action => :clear_table}, :remote => true) do %>
	<%= hidden_field_tag "study_id", :value => params[:study_id] %>
  <div class="indent_block actions">
		<button type="submit" class="negative" onClick="do_confirm(event, 'Are you sure?')">
			<%= image_tag "Delete-silk.png"%>Clear All Table Data
		</button>
	</div>
<% end %>

