<% if @outcomes.length > 0 %>
	<% j = 1 %>
	<% for one_outcome in @outcomes %>
<b>Outcome <%= j %>: <%= one_outcome.title %></b><br/>
<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="5">
<th>Arm</th>
<% @outcome_timepoints = Outcome.get_timepoints_array(one_outcome.id) %>
<% if @outcome_timepoints.length > 0 %>
	<% for tp in @outcome_timepoints %>
<th><%= tp.number.to_s %> <%= tp.time_unit %></th>
<% end %>
<% end %>
<th>N Analyzed</th>
<th><%= select :measure_type, :measure_type, options_for_select([ "Select Measure Type", "Number", "Mean", "Median", "Least Squares Mean", "Geometric Mean", "Log Mean" ]) %></th>
<th><%= select :measure_type, :measure_type, options_for_select([ "Select Measure Of Dispersion/Precision", "Not Applicable", "Standard Deviation", "Inter-Quartile Range", "Full Range" ]) %></th>
<th>P-Value</th>

<% if @study_arms.length > 0 %>
	<% i = 1 %>
	<% for one_arm in @study_arms %>
	<tr>
		<td>Arm <%= i %>: <%= one_arm.title %></td>

<% @outcome_timepoints = Outcome.get_timepoints_array(one_outcome.id) %>
<% if @outcome_timepoints.length > 0 %>
	<% for tp in @outcome_timepoints %>
<td><%= text_field "arm" + i.to_s + "timepoint", tp.id, :size => 5 %></td>
<% end %>
<% end %>
<td><%= text_field "arm" + i.to_s + "nanalyzed", i, :size => 5 %></td>
<td><%= text_field "arm" + i.to_s + "nanalyzed", i, :size => 5 %></td>
<td><%= text_field "arm" + i.to_s + "measurereg", i, :size => 5 %></td>
<td><%= text_field "arm" + i.to_s + "measuredisp", i, :size => 5 %></td>
<td><%= text_field "arm" + i.to_s + "pvalue", i, :size => 5 %></td>
		<% i = i + 1 %>
	<% end %>
<% end %>
</tr>
</table>
<% end %>
<% end %>
<br/><br/>