<% if !@selected_outcome_object.nil? %>

	<h2>Outcome Title: <%= @selected_outcome_object.title %></h2><br/>
	<% timepoint_id = @selected_timepoint %>
	<% subgroup_id = @selected_subgroup %>
	
	<%= form_for @selected_outcome_object_results, :remote => true do |f| %>
	
			<%= hidden_field_tag "outcome_id", @selected_outcome_object.id.to_s %>
			
			<% @measure_types_array = [["Measure Type", "Measure Type"], ["Number", "Number"], ["Mean", "Mean"], ["Median", "Median"], ["Least Squares Mean", "Least Squares Mean"], ["Geometric Mean", "Geometric Mean"], ["Log Mean", "Log Mean"]]%>			
			<% @measure_disp_types_array =  [["Dispersion/Precision", "Select Measure Of Dispersion/Precision"], ["Not Applicable", "Not Applicable"], ["Standard Deviation", "Standard Deviation"], ["Inter-Quartile Range", "Inter-Quartile Range"], ["Full Range", "Full Range"]]%>	
			
			<input type="hidden" name="selected_outcome" id="selected_outcome" value="<%= @selected_outcome_object.id %>">
			<input type="hidden" name="selected_subgroup" id="selected_subgroup" value="<%= @selected_subgroup %>">
			<input type="hidden" name="selected_timepoint" id="selected_timepoint" value="<%= @selected_timepoint %>">
			
			<table class="list_table non_centered_table">
			
				<th>Arm</th>
				<th>N Analyzed</th>
				<% 	@outcome_columns = OutcomeColumn.where(:outcome_id => @selected_outcome_object.id, :timepoint_id => timepoint_id, :subgroup_id => subgroup_id).all	%>
				<% if !@outcome_columns.nil? && @outcome_columns.length > 0 %>
					<% for custom_col in @outcome_columns %>
						<th>
							<%= custom_col.name %>
							<%= link_to "x", {:controller => "outcome_results", :action => "delete_column", :project_id => session[:project_id], :study_id => session["study_id"], :id => custom_col.id.to_s, :outcome_id => @selected_outcome_object.id, :timepoint_id => timepoint_id, :subgroup_id => subgroup_id}, {:title => "delete this column", :class => "remove_column_link", :id => "col_" + custom_col.id.to_s, :remote => true, :confirm => "This will delete the column and all of its data. Are you sure you want to delete this column?", :method => "post", :class => "delete_column_link"} %>
						</th>
					<% end %>
				<% end %>
				
				<% val = OutcomeResult.get_measure_types(@selected_outcome_object.id, timepoint_id, subgroup_id) %>				
				
				<th><%= select :measure_type, :measure_type, options_for_select(@measure_types_array, val["measure_type"].to_s) %></th>
				<th><%= select :measure_disp_type, :measure_disp_type, options_for_select(@measure_disp_types_array, val["measure_dispersion_type"].to_s) %></th>
				<th>P-Value</th>

				<% if @study_arms.length > 0 %>
				
					<% i = 1 %>
					<% for one_arm in @study_arms %>
						<tr class="<%= cycle("even", "odd") %>">
							<td>Arm <%= i %>: <%= one_arm.title %></td>
							
							<% val = OutcomeResult.get_data_point(one_arm.id, @selected_outcome_object.id, timepoint_id, subgroup_id) %>
							<% calc = OutcomeResult.get_data_point_calc(one_arm.id, @selected_outcome_object.id, timepoint_id, subgroup_id) %>							
							<td>
								<%= text_field "arm_nanalyzed", one_arm.id.to_s, :size => 5, :value => val["nanalyzed"], :class => "calculated_checkbox" %>
								<%= check_box_tag "arm" + one_arm.id.to_s + "_nanalyzed_calculated", "t", calc["nanalyzed"], :class => "styled" %>							
							</td>
							
							<% if !@outcome_columns.nil? && @outcome_columns.length > 0 %>
							<% for custom_col in @outcome_columns %>
									<% custom_val = OutcomeResult.get_custom_col_data_point(one_arm.id, @selected_outcome_object.id, timepoint_id, subgroup_id, custom_col.id) %>
									<% custom_calc = OutcomeResult.get_custom_col_data_point_calc(one_arm.id, @selected_outcome_object.id, timepoint_id, subgroup_id, custom_col.id) %>
									<td>
										<%= text_field "arm_custom" + custom_col.id.to_s, one_arm.id.to_s, :size => 5, :value => custom_val, :class => "calculated_checkbox" %>
										<%= check_box_tag "arm" + one_arm.id.to_s + "_custom" + custom_col.id.to_s + "_calculated", "t", custom_calc, :class => "styled" %>
									</td>
								<% end %>
							<% end %>
							
							<td>
								<%= text_field "arm_measurereg", one_arm.id.to_s, :size => 5, :value => val["measurereg"], :class => "calculated_checkbox" %>
								<%= check_box_tag "arm" + one_arm.id.to_s + "_measurereg_calculated", "t", calc["measurereg"], :class => "styled" %>
							</td>
							
							<td>
								<%= text_field "arm_measuredisp", one_arm.id.to_s, :size => 5, :value => val["measuredisp"], :class => "calculated_checkbox" %>
								<%= check_box_tag "arm" + one_arm.id.to_s + "_measuredisp_calculated", "t", calc["measuredisp"], :class => "styled" %>
							</td>
							
							<td>
								<%= text_field "arm_pvalue", one_arm.id.to_s, :size => 5, :value => val["pvalue"], :class => "calculated_checkbox" %>
								<%= check_box_tag "arm" + one_arm.id.to_s + "_pvalue_calculated", "t", calc["pvalue"], :class => "styled" %>
							</td>
							
							<% i = i + 1 %>
							
					<% end %>
				<% end %>
				
					</tr>
				</table>
				
				<br/>
				<div class="actions">
					<button type="submit" class="positive"><%= image_tag "Accept.png" %>Save Table Data</button>
				</div>
			<% end %>
	
		<%= form_tag url_for(:controller => 'outcome_results', :action => 'clear_table', :project_id => session[:project_id], :study_id => session["study_id"]), :id => "clear_data_table_link", :remote => true do %>
		<%= hidden_field_tag "subgroup_id", subgroup_id %>
		<%= hidden_field_tag "outcome_id", @selected_outcome_object.id %>
		<%= hidden_field_tag "timepoint_id", timepoint_id %>
		<div class="actions">
		<button type="submit" class="negative" data-remote="true" data-method="post" onClick="do_confirm(event, 'This will delete all the information in this table. Are you sure?')">
			<%= image_tag "Cancel.png" %>Delete Data Table
		</button>
		</div>
		<% end %>
		<br/><br/>
		
<div id="new_col_entry">
<%= render 'outcome_columns/form' %>
</div>

<br/><br/>
<h4>Add Footnotes for this Table</h4><br/>
<%= form_for OutcomeResultsNote.get_note_object(@selected_outcome_object.id, timepoint_id, subgroup_id), :remote => true do |f| %>
<div class="form_content">
<div class="field">
    <%= f.hidden_field :outcome_id, :value => @selected_outcome_object.id %>
    <%= f.hidden_field :timepoint_id, :value => timepoint_id %>
    <%= f.hidden_field :subgroup_id, :value => subgroup_id %>

    <label>Enter Notes on Outcome Results:</label>
    <%= f.text_area :notes, :rows => 4, :columns => 40 %>
</div>
  <div class="actions">
<button type="submit" class="positive" name="save"><%= image_tag "Accept.png" %>Save Notes</button>

  </div>
  </div>
<% end %>

<% end %>