<p id="notice"><%= notice %></p>

<p>
  <b>Study:</b>
  <%= @outcome_result.study_id %>
</p>

<p>
  <b>Timepoint:</b>
  <%= @outcome_result.timepoint_id %>
</p>

<p>
  <b>Arm:</b>
  <%= @outcome_result.arm_id %>
</p>

<p>
  <b>N analyzed:</b>
  <%= @outcome_result.n_analyzed %>
</p>

<p>
  <b>Measure type:</b>
  <%= @outcome_result.measure_type %>
</p>

<p>
  <b>Measure value:</b>
  <%= @outcome_result.measure_value %>
</p>

<p>
  <b>Measure dispersion type:</b>
  <%= @outcome_result.measure_dispersion_type %>
</p>

<p>
  <b>Measure dispersion value:</b>
  <%= @outcome_result.measure_dispersion_value %>
</p>

<p>
  <b>P value:</b>
  <%= @outcome_result.p_value %>
</p>


<%= link_to 'Edit', edit_outcome_result_path(@outcome_result) %> |
<%= link_to 'Back', outcome_results_path %>
